<br class="hidden-sm hidden-xs"><br class="hidden-sm hidden-xs">
<div class="container fading-In less-margin" ng-if="contact_info!=undefined">
	<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
	<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
		<div class="text-center">
			<div class="card-header text-uppercase text-center">Account Settings</div>
		</div>
		<form ng-if="contactUpdated!==true" name="accountInfoForm" class="form card-body col-lg-12 col-md-12 col-sm-12 col-xs-12 less-margin extra-bottom">
			<account-info-widget form="accountInfoForm"></account-info-widget>
			<br>
		</form>
		<div class="text-center lead card-body col-lg-12 col-md-12 col-sm-12 col-xs-12 fading-In less-margin extra-bottom" ng-if="contactUpdated==true">
			<br><br>
			<p>Your account has successfully been updated!</p>
			<br>
			<a ui-sref="account_overview">Account Overview</a>
		</div>
	</div>
	<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
</div>
<div class="container fadeInRight" ng-if="contact_info== undefined">
	<div class="col-lg-4 col-md-4 hidden-sm hidden-xs"></div>
	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
		<login-form></login-form>
	</div>
	<div class="col-lg-4 col-md-4 hidden-sm hidden-xs"></div>
</div