<div class="container fading-In">
	<br><br>
	<div class="hidden-sm hidden-xs col-lg-1 col-md-1" ></div>
	<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 less-margin" >
		<div class="card-header text-center text-uppercase">
			Request your username
		</div>
		<div class="card-body">
			<form ng-if="userNameMessage==undefined" class="text-center"  name="requestUserNameForm" ng-keyup="$event.keyCode == 13 && requestUserName(requestUserNameForm.$valid,email)" novalidate>
				<br><br>
				<div class="container-fluid">
					<p class=" container-fluid lead uncentered">If the email address you enter is in our system, we'll send you your username. If not, we'll send you a link to set up an account instead.</p> 
				</div>
				<div class="container-fluid has-error"><p ng-if="loginError!=undefined" class="help-block fading-In">{{loginError}}</p></div>
                <div class="container-fluid form-field"  ng-class="{'has-error': requestUserNameForm.email.$invalid && (!requestUserNameForm.email.$pristine || submittedUsernameRequest==true)}">
                  <label class="form-label uncentered" >Email Address:</label>
                  <input type="email" ng-model="emailRequest" name="email"  class="login" required="true">
                  <p ng-show="requestUserNameForm.email.$invalid && (!requestUserNameForm.email.$pristine || submittedUsernameRequest==true)" class="help-block fading-In text-center">Your email is required; it is currently empty or in the wrong format.</p>
                </div>
                <div class="text-uppercase">
                	<submit-button button-label="EMAIL MY USERNAME" ng-click="requestUserName(requestUserNameForm.$valid,emailRequest)"></submit-button>
                </div>
                <br>
			</form>
			<div class="lead container-fluid" ng-class="{'fading-In': userNameMessage!=undefined}">
				<br>
				<div class="container-fluid" dynamic="userNameMessage"></div>
			</div>
		</div>
	</div>
	<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 reset-password-card less-margin" >
		<div class="card-header text-center text-uppercase">
			Reset your password
		</div>
		<div class="card-body">
			<form ng-if="passwordResetMessage==undefined" class="text-center"  name="resetPasswordForm" ng-keyup="$event.keyCode == 13 && resetPasswordRequest(resetPasswordForm.$valid,login)" novalidate>
				<br><br>
				<div class="container-fluid">
					<p class=" container-fluid lead uncentered">We'll email you a link to a page where you can create a new password.</p> 
				</div>
				<br class="lead">
				<div class="container-fluid has-error"><p ng-if="loginError!=undefined" class="help-block fading-In">{{loginError}}</p></div>
                <div class="container-fluid form-field"  ng-class="{'has-error': resetPasswordForm.login.$invalid && (!resetPasswordForm.login.$pristine || submittedPasswordReset==true)}">
                  <label class="form-label uncentered" >Login:</label>
                  <input type="input" ng-model="loginForPasswordReset" name="login"  class="login" required="true">
                  <p ng-show="resetPasswordForm.login.$invalid && (!resetPasswordForm.login.$pristine || submittedPasswordReset==true)" class="help-block fading-In text-center">Your login is required; it is currently empty or in the wrong format.</p>
                </div>
                <div class="text-uppercase">
                	<submit-button button-label="RESET MY PASSWORD" ng-click="resetPasswordRequest(resetPasswordForm.$valid,loginForPasswordReset)"></submit-button>
                </div>
                <br>
			</form>
			<div class="lead container-fluid" ng-class="{'fading-In': passwordResetMessage!=undefined}">
				<br>
				<div class="container-fluid" dynamic="passwordResetMessage"></div>
			</div>
		</div>
	</div>
    <div class="hidden-sm hidden-xs col-lg-1 col-md-1"></div>
</div>