<br class="hidden-sm hidden-xs"><br class="hidden-sm hidden-xs"> 
<div class="container fading-In" ng-if="contact_info !=undefined">
	<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
	<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 less-margin" >
		<div class="card-header text-center text-uppercase">
		Account Overview
		</div>
		<div class="card-body text-center less-margin extra-bottom">
			<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 uncentered truncate" style="background-color:#ecf0f1;min-height: 435px;">
				<br>
				<div class="lead container-fluid">
					<label>First Name:&nbsp;&nbsp;</label><span>{{contact_info.first_name}}</span><br><br>
					<label>Last Name:&nbsp;&nbsp;</label><span>{{contact_info.last_name}}</span><br><br>
					<label>Login:&nbsp;&nbsp;</label><span>{{contact_info.login}}</span><br><br>
					<label>Email:&nbsp;&nbsp;</label><span>{{contact_info.email}}</span><br><br>
					<div class="text-center">
						<a ui-sref="reset_password" style="text-decoration:underline">Reset your password</a>
						<br><br>
						<a ui-sref="account_settings" style="text-decoration:underline">Update your contact information</a>
					</div>
				</div>
			</div>
			<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 no-margin" >
				<div class="col-lg-4 col-md-4 col-sm-4 col-x-4 pointer account-links" ui-sref="account_overview" ng-class="{'deep-blue':!onAccountPage('registered_products')}">
					<a class="text-uppercase large-text text-center" ui-sref="account_overview">Registered Products</a>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-x-4 pointer account-links" ui-sref="account_overview.incidents" ng-class="{'deep-blue':!onAccountPage('incidents')}">
					<a class="text-uppercase large-text text-center" ui-sref="account_overview.incidents">Support Requests</a>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-x-4 pointer account-links" ui-sref="account_overview.rmas" ng-class="{'deep-blue':!onAccountPage('rmas')}">
					<a class="text-uppercase large-text text-center" ui-sref="account_overview.rmas">Warranty Claims/RMA's</a>
				</div>
				<br><br>
				<div class="fading-In" ng-if="contact_info.prod_reg_incidents.length > 0 && onAccountPage('registered_products')" style="z-index:-1">
					<br class="hidden-xs hidden-sm"><br class="hidden-xs hidden-sm"><br class="hidden-xs hidden-sm"><br class="hidden-xs hidden-sm">
					<table class="table table-striped table-responsive lead table-with-less-margin-bottom">
						<thead>
							<tr>
							    <th class="text-center">Registered Products</th> 
					  		</tr>
						</thead>
						<tbody>
							<tr ng-repeat="product in contact_info.prod_reg_incidents | unique:'product_name' | limitTo: 4">
						  		<td><a ui-sref="product({product:product.product_name})">{{product.product_name}}</a></td>
							</tr>
						</tbody>
					</table>
					<a ng-if="contact_info.prod_reg_incidents.length > 4" class=" text-center text-uppercase large-button" ui-sref="registered_products">See all Registered Products</a><br><br>
					<a class=" text-center text-uppercase large-button" ui-sref="product_registration">Register a Product</a>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 fading-In" ng-if="contact_info.prod_reg_incidents.length == 0 && onAccountPage('registered_products')" style="z-index:0">
					<br class="hidden-xs hidden-sm"><br class="hidden-xs hidden-sm"><br class="hidden-xs hidden-sm"><br class="hidden-xs hidden-sm">
					<div ui-sref="product_registration">
						<p class="lead">It looks like you do not have any registered products...</p>
						<a class=" text-center text-uppercase large-button" ui-sref="product_registration">Register a Product</a>
					</div>
				</div>
				<div class="fading-In" ng-if="contact_info.incidents.length > 0 && onAccountPage('incidents')" style="z-index:-1">
					<br class="hidden-xs hidden-sm"><br class="hidden-xs hidden-sm"><br class="hidden-xs hidden-sm">
					<table class="table table-striped table-responsive lead table-with-less-margin-bottom">
						<thead>
							<tr>
							    <th class="text-center">Reference #</th> 
							    <th class="text-center">Status</th>
					  		</tr>
						</thead>
						<tbody>
							<tr ng-repeat="incident in contact_info.incidents | limitTo: 4 | orderBy:-'\u0022Incident ID\u0022'">
						  		<td><a ui-sref="incident_show({i_id: incident['Incident ID'] })"> 
						  		{{incident['Reference #']}}</a></td>
						  		<td><a ui-sref="incident_show({i_id: incident['Incident ID'] })">
						  		{{incident['Status']}}</a></td>
							</tr>
						</tbody>
					</table>
					<br>
				    <a ng-if="contact_info.incidents.length > 4" class=" text-center text-uppercase large-button" ui-sref="incidents_list">See all Support Incidents</a>
				    <br><br>
				    <a class=" text-center text-uppercase large-button" ui-sref="ask_a_question">Create a request</a>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 fading-In" ng-if="contact_info.incidents.length == 0 && onAccountPage('incidents')">
					<br class="hidden-xs hidden-sm"><br class="hidden-xs hidden-sm"><br class="hidden-xs hidden-sm">
					<div ui-sref="ask_a_question">
						<p class="lead">It looks like you have not made any Support Requests...</p>
						<a class=" text-center text-uppercase large-button" ui-sref="ask_a_question">Create a request</a>
					</div>
				</div>
				<div class="fading-In" ng-if="contact_info.rma_incidents.length > 0 && onAccountPage('rmas')">
					<br class="hidden-xs hidden-sm"><br class="hidden-xs hidden-sm"><br class="hidden-xs hidden-sm">
					<table class="table table-striped table-responsive lead table-with-less-margin-bottom">
						<thead>
							<tr>
							    <th class="text-center">Reference #</th> 
							    <th class="text-center">Status</th>
					  		</tr>
						</thead>
						<tbody>
							<tr ng-repeat="rmaIncident in contact_info.rma_incidents | limitTo: 4 | orderBy:-'\u0022Incident ID\u0022'">
						  		<td><a ui-sref="incident_show({i_id: rmaIncident['Incident ID'] })"> 
						  		{{rmaIncident['Reference #']}}</a></td>
						  		<td><a ui-sref="incident_show({i_id: rmaIncident['Incident ID'] })">
						  		{{rmaIncident['RMA Status']}}</a></td>
							</tr>
						</tbody>
					</table>
					<br>
				    <a ng-if="contact_info.rma_incidents.length > 4" class=" text-center text-uppercase large-button" ui-sref="rma_list">See all RMA Incidents</a>
				    <br><br>
				    <a class=" text-center text-uppercase large-button" ui-sref="rma_form_1">Create an RMA</a>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 fading-In" ng-if="contact_info.rma_incidents.length == 0 && onAccountPage('rmas')">
					<br class="hidden-xs hidden-sm"><br class="hidden-xs hidden-sm"><br class="hidden-xs hidden-sm">
					<div ui-sref="rma_form_1">
						<p class="lead">It looks like you have not made any RMA's...</p>
						<a class=" text-center text-uppercase large-button" ui-sref="rma_form_1">Create an RMA</a>
					</div>
				</div>
				<br>
			</div>
		</div>
	</div>
	<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
</div>
<div class="container fadeInRight" ng-if="contact_info== undefined">
	<div class="col-lg-4 col-md-4 hidden-sm hidden-xs"></div>
	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
		<login-form></login-form>
	</div>
	<div class="col-lg-4 col-md-4 hidden-sm hidden-xs"></div>
</div>