<br class="hidden-sm hidden-xs"><br class="hidden-sm hidden-xs">
<div class="container-fluid less-margin" ng-class="{'fading-In':(detectLastState('home')==true || detectLastState('')==true)}" ng-if="answers" ng-cloak style="position:relative">
	<div class="col-lg-1 col-md-1 hidden-sm hidden-xs" ng-if="userDocTest(cat_lvl_2,category)"></div>
	<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" ng-cloak ng-if="!userDocTest(cat_lvl_2,category)" ng-class="{'fading-In': cat_lvl_3==undefined,'hidden-sm hidden-xs':cat_lvl_3!==undefined}" scroll-spy>
		<div class="card-header text-center text-uppercase">{{cat_lvl_2=="From Your Device" && prod_lvl_1!=="Accessories"? cat_lvl_2.replace("Device",prod_lvl_1.replace('s','')).replace('From Your','') : cat_lvl_2.replace('From Your','')}}</div>
        <div class="card-body extra-bottom">
            <div class="container-fluid product-show-container how-tos hidden-xs hidden-sm">
                <div class="square-box">
					<div class="prod-square-content">
						<div>
							<a class="series_ text-uppercase" ui-sref="answers({category: category, cat_lvl_2:null, cat_lvl_3: null, prod_lvl_1: prod_lvl_1, prod_lvl_2: prod_lvl_2, prod_lvl_3: null})">
								<img ng-if="cat_lvl_2=='From Your Device'" class="img-responsive prod_lvl_1" ng-src="https://q-see.s3.amazonaws.com/content/files/RightNow/{{prod_lvl_1}}.png">
								<i style="margin-bottom:10px" ng-if="cat_lvl_2=='From Your Computer'" class="fa how-to-icons fa-desktop fa-5x" aria-hidden="true"></i>
								<i style="margin-bottom:25px" ng-if="cat_lvl_2=='From Your Mobile Device'" class="fa how-to-icons fa-mobile fa-5x" aria-hidden="true"></i>
								<br>
	    						<p class="prod_lvl_1" style="line-height: 1;!important">{{cat_lvl_2=="From Your Device" && prod_lvl_1!=="Accessories"? cat_lvl_2.replace("Device",prod_lvl_1.replace('s','')) : cat_lvl_2}}</p>
							</a>
						</div>
					</div>
				</div><br>
            </div>
			<div class="container-fluid answer-category-container center-when-small">
				<p style="margin-bottom:0" class="lead">Please select a topic:</p><br class="hidden-lg hidden-md">
				<div  ng-if="answer['cat_lvl_3']!==''" class="product-show-buttons large-button pointer" ui-sref="answers({category: category, cat_lvl_2:answer['cat_lvl_2'], cat_lvl_3:answer['cat_lvl_3'], prod_lvl_1: prod_lvl_1, prod_lvl_2: prod_lvl_2, prod_lvl_3: null})" style="margin-bottom:6px" ng-repeat="answer in cat_lvl_2_answers = (answers|filter:cat_lvl_2_filter:true)| unique:'cat_lvl_3'">
			    	<a class="pointer -large-button" ui-sref="answers({category: category, cat_lvl_2:answer['cat_lvl_2'], cat_lvl_3:answer['cat_lvl_3'], prod_lvl_1: prod_lvl_1, prod_lvl_2: prod_lvl_2, prod_lvl_3: null})">{{answer['cat_lvl_3']}}</a>
			    	<span class="pull-right badge">{{cat_lvl_2_answers | answerIndexCatLvl3Count:answer.cat_lvl_3}}</span>
			    </div>
			</div>
		</div>
	</div>
	<div ng-class="{'col-lg-10 col-md-10 col-sm-12 col-xs-12': userDocTest(cat_lvl_2,category),'col-lg-9 col-md-9 col-sm-12 col-xs-12 answers-right-side': !userDocTest(cat_lvl_2,category)}" >
	    <div ng-if="nested_answer_summary==undefined" class="card-header text-center text-uppercase container-fluid" ng-class="{'no-margin':prod_lvl_1!==undefined,'hidden-sm hidden-xs':(category=='How-tos' && cat_lvl_2!==undefined && cat_lvl_3==undefined)}">
	    	<span class="bc_arrow" ng-class="{'col-lg-6 col-md-6 col-sm-6 col-xs-6 arrow_box blue_arrow':prod_lvl_1!==undefined,'col-lg-4 col-md-4 hidden-sm hidden-xs':prod_lvl_2!==undefined}"><a ui-sref="home">{{category == "How-tos" ? "How-to's" : category}}</a></span>
	    	<span class="yellow_arrow bc_arrow" ng-class="{'col-lg-6 col-md-6 col-sm-6 col-xs-6':prod_lvl_1!==undefined,'col-lg-4 col-md-4 col-sm-6 col-xs-6 arrow_box':prod_lvl_2!==undefined}" ng-if="prod_lvl_1"><a ui-sref="answers({category: category,cat_lvl_2:null,cat_lvl_3:null, prod_lvl_1:null, prod_lvl_2: null, prod_lvl_3: null})">{{prod_lvl_1}}</a></span>
	    	<span class="blue_arrow bc_arrow" ng-class="{'col-lg-4 col-md-4 col-sm-6 col-xs-6':prod_lvl_2!==undefined}" ng-if="prod_lvl_2"><a ui-sref="answers({category: category,cat_lvl_2:null,cat_lvl_3:null, prod_lvl_1:prod_lvl_1, prod_lvl_2: null, prod_lvl_3: null})">{{prod_lvl_2}}</a></span>
	    </div>
	    <div ng-if="nested_answer_summary==undefined" ng-class="{'hidden-sm hidden-xs':(category=='How-tos' && cat_lvl_2!==undefined && cat_lvl_3==undefined)}" class="card-body container-fluid less-margin extra-bottom">
		    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 less-margin text-center" ng-hide="prod_lvl_1" >
	    		<br>
	        	<p class="lead container-fluid">What type of device are you looking for {{category.toLowerCase()}} for?</p>
	        	<div class="container-fluid text-center">
	        		<div ng-class="{'col-lg-3 col-md-3 hidden-sm hidden-xs' : lvl1_filteredAnswers.length==2, 'col-lg-1_5 col-md-1_5 hidden-sm hidden-xs' : lvl1_filteredAnswers.length==3}"></div>
	        		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 prod-series" ng-repeat="answer in lvl1_filteredAnswers = ( answers|filter:categoryFilter | unique:'prod_lvl_1')|answerIndexProdOrder" ng-if="answer['prod_lvl_1']!=''" ng-class="{'mark':prod_lvl_1 == answer['prod_lvl_1'],'col-lg-4 col-md-4 col-sm-4 col-xs-12':category!=='Firmware','col-lg-6 col-md-6 col-sm-6 col-xs-12':category=='Firmware'}" ui-sref="answers({category: category,cat_lvl_3:null, cat_lvl_2:null, prod_lvl_1: answer['prod_lvl_1'], prod_lvl_2: null, prod_lvl_3: null})">
		    			<div class="square-box">
							<div class="prod-square-content">
								<div>
									<a class="series_ text-uppercase" ui-sref="answers({category: category,cat_lvl_3:null, cat_lvl_2:null, prod_lvl_1: answer['prod_lvl_1'], prod_lvl_2: null, prod_lvl_3: null})">
										<img class="img-responsive prod_lvl_1" ng-src="https://q-see.s3.amazonaws.com/content/files/RightNow/{{answer['prod_lvl_1']}}.png">
										<br>
			    						<p class="prod_lvl_1">{{answer['prod_lvl_1']}}</p>
									</a>
								</div>
							</div>
						</div><br>
			    	</div>
			    	<div ng-class="{'col-lg-3 col-md-3 hidden-sm hidden-xs' : lvl1_filteredAnswers.length==2, 'col-lg-1_5 col-md-1_5 hidden-sm hidden-xs' : lvl1_filteredAnswers.length==3}"></div>
	        	</div>
		    </div>
		    <div scroll-to-me id="lvl_2" ng-hide="prod_lvl_2" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" ng-class="{'fading-In': prod_lvl_2==undefined}" ng-if="prod_lvl_1!=undefined">
		    	<br><br>
	        	<p class="lead">Which series of {{prod_lvl_1.toLowerCase()}} do you need {{category.toLowerCase()}} for? <span ng-if="prod_lvl_1!='Accessories'">(Your series is determined by the first two digits of your product model number; <a ui-sref="answer({a_id: 1175})">click here for information on how to find your product model number</a>)</span>
	        	</p>
	        	<div class="hidden-sm hidden-xs" ng-class="{'col-lg-1_5 col-md-1_5':(lvl_2filteredAnswers.length==1 || lvl_2filteredAnswers.length==3),'col-lg-3 col-md-3':lvl_2filteredAnswers.length==2}"></div>
	        	<div ng-if="lvl_2filteredAnswers.length == 1" class="col-lg-3 col-md-3 hidden-sm hidden-xs"></div>
		    	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 prod-series" ng-repeat="answer in lvl_2filteredAnswers = (answers|filter:prod_lvl_1_filter | orderBy:'prod_lvl_2' |unique:'prod_lvl_2') | answerIndexSeriesOrder" ng-class="{'mark':prod_lvl_2 == answer['prod_lvl_2']}" ui-sref="answers({category: category,cat_lvl_3:null, cat_lvl_2:null, prod_lvl_1: prod_lvl_1, prod_lvl_2: answer['prod_lvl_2'], prod_lvl_3: null})">
		    		<div class="square-box">
						<div class="prod-square-content">
							<div>
								<a class="series_ text-uppercase" ui-sref="answers({category: category,cat_lvl_3:null, cat_lvl_2:null, prod_lvl_1: prod_lvl_1, prod_lvl_2: answer['prod_lvl_2'], prod_lvl_3: null})">
									<p ng-class="{'has-series-2':answer['prod_lvl_2']!='Other'&& answer['prod_lvl_2'].replace(' Series','').length ==2 && prodCategory!='Accessories',
									'has-series-3':answer['prod_lvl_2']!='Other'&& answer['prod_lvl_2'].replace(' Series','').length ==3 && prodCategory!='Accessories', 'accessories':prodCategory=='Accessories'&& answer['prod_lvl_2']!='Connectors','accessories-connectors':prodCategory=='Accessories' && answer['prod_lvl_2']=='Connectors'}">{{answer['prod_lvl_2'].replace('Series','')}}</p>
									<span ng-if="answer['prod_lvl_2']!='Other'&&answer['prod_lvl_1']!='Accessories'">Series</span>
								</a>
							</div>
						</div>
					</div><br>
		    	</div>
		    	<div ng-if="lvl_2filteredAnswers.length == 1" class="col-lg-3 col-md-3 hidden-sm hidden-xs"></div>
		    	<div class="hidden-sm hidden-xs" ng-class="{'col-lg-1_5 col-md-1_5':(lvl_2filteredAnswers.length==1 || lvl_2filteredAnswers.length==3),'col-lg-3 col-md-3':lvl_2filteredAnswers.length==2}"></div>
		    </div>
	        <div scroll-to-me id="lvl_3" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" ng-class="{'fading-In': cat_lvl_2==undefined}" ng-if="category!='Firmware' && category!='How-tos' && prod_lvl_1!=undefined&& prod_lvl_2!=undefined">
		    	<br><br>
	        	<p class="lead">What kind of {{category.toLowerCase()}} are you looking for your {{prod_lvl_2=='Other'? '' : prod_lvl_2}} {{prod_lvl_1=='Recorders'? 'recorder' : prod_lvl_1=='Accessories'?'accessory' : 'camera'}}?</p>
		    	<a class="badge" style="font-size:1.3em!important" ng-repeat="answer in lvl_3filteredAnswers= (answers|filter:prod_lvl_2_filter  |unique:'cat_lvl_2')" ng-class="{'mark':cat_lvl_2 == answer['cat_lvl_2']}" ui-sref="answers({category: category,cat_lvl_3:null, cat_lvl_2:answer['cat_lvl_2'], prod_lvl_1: prod_lvl_1, prod_lvl_2: prod_lvl_2, prod_lvl_3: null})" >{{answer['cat_lvl_2']}}<br></a>
		    </div>
		    <div scroll-to-me id="lvl_4" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center fading-In" ng-if="category!='Firmware' && category!='How-tos' && prod_lvl_1!=undefined && prod_lvl_2!=undefined && cat_lvl_2!=undefined">
		    	<br><br>
	        	<p class="lead">Here is a list of {{cat_lvl_2.toLowerCase()}} for your {{prod_lvl_2}} {{prod_lvl_1=='Recorders'? 'recorder' : prod_lvl_1=='Accessories'?'accessory' : 'camera'}}:</p>
		    	<a class="badge" style="font-size:1.3em!important" ng-repeat="answer in answers|filter:cat_lvl_2_filter  |unique:'Summary'" ui-sref="answer({a_id: answer['answer_id']})">{{answer['Summary']}}<br></a>
		    </div>
	        <div scroll-to-me id="lvl_3" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center fading-In" ng-if="category=='Firmware' && prod_lvl_1!=undefined&& prod_lvl_2!=undefined">
	        	<br><br>
	        	<div ng-if="prod_lvl_3==undefined">
		        	<p class="lead">Which of the following {{prod_lvl_2}} {{prod_lvl_1.toLowerCase()}} do you need firmware for?</p>
		        	<span >NOTE: If your model is not listed below, a firmware update is not needed for it.</span>
	        	</div>
	        	<br>
	        	<a ng-if="prod_lvl_3!=undefined" class="pointer" ui-sref="answers({category: category, cat_lvl_2:cat_lvl_2, cat_lvl_3: null, prod_lvl_1: prod_lvl_1, prod_lvl_2: prod_lvl_2, prod_lvl_3: null})"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;Choose a different model</a><br><br>  
		    	<div class="fading-In text-center product-container quartered" ng-if="answer['prod_lvl_3']!==prod_lvl_2 && prod_lvl_3==answer['prod_lvl_3'] || prod_lvl_3==undefined" ng-repeat="answer in answers|filter:prod_lvl_2_filter  |unique:'prod_lvl_3'">
	              <div class="square-box">
	                <div class="prod-square-content">
	                  <div>
	                    <a class="pointer fine-looking-text" ui-sref="answers({category: category,cat_lvl_3:null, cat_lvl_2:null, prod_lvl_1: prod_lvl_1, prod_lvl_2: prod_lvl_2, prod_lvl_3:answer['prod_lvl_3']})">
	                      <img fallback-src class="img-responsive product-img firmware" ng-src="//q-see.s3.amazonaws.com/content/support/prodImage/{{answer['prod_lvl_3'] | firmwareFilter}}.jpg">
	                      <small class="text-center">
	                        <small class="product-label">{{answer['prod_lvl_3']}}</small><br>
	                      </small>
	                    </a>
	                  </div>
	                </div>
	              </div>  
	            </div>
		    </div>
		    <div scroll-to-me id="lvl_4" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center fading-In" ng-if="category=='Firmware' && prod_lvl_1!=undefined&& prod_lvl_2!=undefined&& prod_lvl_3!=undefined">
		    	<br>
		    	<br>
		    	<br>
	        	<p class="lead">Here is a list of {{category.toLowerCase()}} for your {{prod_lvl_3}} {{prod_lvl_1=='Recorders'? 'recorder(s)' : prod_lvl_1=='Accessories'?'accessory' : 'camera(s)'}}:</p>
		    	<a class="badge" style="font-size:1.3em!important" ng-repeat="answer in answers|filter:prod_lvl_3_filter  |unique:'Summary'" ui-sref="answer({a_id: answer['answer_id']})">{{answer['Summary']}}<br></a>
		    </div>		    
	        <div scroll-to-me id="lvl_4" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center fading-In" ng-if="category=='How-tos' && prod_lvl_1!=undefined&& prod_lvl_2!=undefined" ng-hide="cat_lvl_2!=undefined">
		    	<br><br>
	        	<p class="lead">Where do you want to set up the function you wish to perform?</p>
	        	<div ng-class="{'col-lg-3 col-md-3 hidden-sm hidden-xs' : filteredUserDocAnswers.length==2, 'col-lg-1_5 col-md-1_5 hidden-sm hidden-xs' : filteredUserDocAnswers.length==3}"></div>
        		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 prod-series quartered" ng-repeat="answer in filteredUserDocAnswers = (answers|filter:prod_lvl_2_filter|unique:'cat_lvl_2') | answerIndexHowToDeviceOrder" ng-if="answer['prod_lvl_1']!=''" ng-class="{'col-lg-4 col-md-4 col-sm-4 col-xs-12':category!=='Firmware','col-lg-6 col-md-6 col-sm-6 col-xs-12':category=='Firmware'}" ui-sref="answers({category: category, cat_lvl_2:answer['cat_lvl_2'], cat_lvl_3: null, prod_lvl_1: prod_lvl_1, prod_lvl_2: prod_lvl_2, prod_lvl_3: null})">
	    			<div class="square-box">
						<div class="prod-square-content">
							<div>
								<a class="series_ text-uppercase" ui-sref="answers({category: category, cat_lvl_2:answer['cat_lvl_2'], cat_lvl_3: null, prod_lvl_1: prod_lvl_1, prod_lvl_2: prod_lvl_2, prod_lvl_3: null})">
									<img ng-if="answer['cat_lvl_2']=='From Your Device'" class="img-responsive prod_lvl_1" ng-src="https://q-see.s3.amazonaws.com/content/files/RightNow/{{answer['prod_lvl_1']}}.png">
									<i style="margin-bottom:10px" ng-if="answer['cat_lvl_2']=='From Your Computer'" class="fa cat_lvl_2 fa-desktop fa-5x" aria-hidden="true"></i>
									<i style="margin-bottom:25px" ng-if="answer['cat_lvl_2']=='From Your Mobile Device'" class="fa cat_lvl_2 fa-mobile fa-5x" aria-hidden="true"></i>
									<br>
		    						<p class="prod_lvl_1">{{answer['cat_lvl_2']=="From Your Device" && prod_lvl_1!=="Accessories"? answer['cat_lvl_2'].replace("Device",prod_lvl_1.replace('s','')).replace('From Your ','') : answer['cat_lvl_2'].replace('From Your ','')}}</p>
								</a>
							</div>
						</div>
					</div><br>
		    	</div>
		    	<div ng-class="{'col-lg-3 col-md-3 hidden-sm hidden-xs' : filteredUserDocAnswers.length==2, 'col-lg-1_5 col-md-1_5 hidden-sm hidden-xs' : filteredUserDocAnswers.length==3}"></div>
		    </div>
		    <div scroll-to-me id="lvl_5" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center no-margin fading-In" ng-if="category=='How-tos' && prod_lvl_1!=undefined && prod_lvl_2!=undefined && cat_lvl_2!=undefined&& cat_lvl_3==undefined">
		    	<br>
		    	<h2>How can we help you?</h2>
		    	<br>
                <input class="search-input" id="qsee-search-input" search-input-focus-check ng-model="filteredAnswersQuery" placeholder="Search for how-to's for controlling your {{prod_lvl_2}} {{prod_lvl_1 =='Accessories' ? 'accessory' : prod_lvl_1.substring(0, prod_lvl_1.length-1).toLowerCase()}} {{cat_lvl_2.toLowerCase()}}..." ng-keyup="fixLinks()">
                <br><br>
                <a class="clearfix fading-In lead" ng-if="filteredAnswersQuery.length > 0" ng-repeat="answer in filteredAnswers = (answers|filter:cat_lvl_2_filter | keywordSearch:['answer_id','Summary']:filteredAnswersQuery | unique:'Summary')| limitTo:5" ui-sref="answer({a_id:answer['answer_id']})">{{answer['Summary']}}</a>  
                <a class="clearfix fading-In lead" ng-if="filteredAnswersQuery.length == 0 || filteredAnswersQuery== undefined" ng-repeat="answer in nonFilteredAnswers = (answers|filter:cat_lvl_2_filter | unique:'Summary')| limitTo:5" ui-sref="answer({a_id:answer['answer_id']})">{{answer['Summary']}}</a>  
              	<p ng-if="filteredAnswersQuery.length > 0 && filteredAnswers.length == 0" class="lead fading-In">No results...</p>
		    </div>
		    <div scroll-to-me id="lvl_6" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center fading-In" ng-if="category=='How-tos' && prod_lvl_1!=undefined && prod_lvl_2!=undefined && cat_lvl_2!=undefined&& cat_lvl_3!=undefined">
		    	<br><br>
	        	<p class="lead" ng-if="answers.length!== 0 && qcBlackAnswers.length == 0 && qcBlueAnswers.length == 0 && qtOldAnswers.length == 0 && qtNewAnswers.length == 0">Here is a list of {{cat_lvl_3}} answers for controlling your {{prod_lvl_2}} {{prod_lvl_1=='Recorders'? 'Recorder' : prod_lvl_1=='Accessories'?'Accessory' : 'Camera'}} {{cat_lvl_2.toLowerCase()}}.</p>
	        	<div class="lead text-center" ng-if="qcBlackAnswers.length!==0">
	        		<img class="img-responsive fading-In" src="https://q-see.s3.amazonaws.com/content/support/images/new_ones/qc_black.jpg">
	        		<p>If your {{prod_lvl_2}} Recorder on screen menus look like this, then the following link(s) will assist you in regards to {{cat_lvl_3.toLowerCase()}}:</p>
	        	</div>
		    	<a class="badge pointer" style="font-size:1.3em!important" ng-if="answer['cat_lvl_3']!=''" ng-repeat="answer in qcBlackAnswers = (answers|filter:cat_lvl_3_filter|unique:'Summary' |seriesFilter:'Black')" ui-sref="answer({a_id:answer['answer_id']})">{{answer['Summary']}}<br></a>
		    	<br ng-if="cat_lvl_3 && qcBlackAnswers.length!==0">
		    	<br ng-if="cat_lvl_3 && qcBlackAnswers.length!==0">

		    	<div class="lead text-center" ng-if=" qcBlueAnswers.length!==0">
		    		<img class="img-responsive fading-In" src="https://q-see.s3.amazonaws.com/content/support/images/new_ones/qc_blue.jpg">
		    		<p>If your {{prod_lvl_2}} Recorder on screen menus look like this, then the following link(s) will assist you in regards to {{cat_lvl_3.toLowerCase()}}:</p>
		    	</div>
		    	<a class="pointer badge" style="font-size:1.3em!important" ng-if="answer['cat_lvl_3']!=''" ng-repeat="answer in qcBlueAnswers = (answers|filter:cat_lvl_3_filter|unique:'Summary' |seriesFilter:'Blue')" ui-sref="answer({a_id:answer['answer_id']})">{{answer['Summary']}}<br></a>
		    	<br ng-if="cat_lvl_3 && qcBlueAnswers.length!==0">
		    	<br ng-if="cat_lvl_3 && qcBlueAnswers.length!==0">

		    	<div class="lead text-center" ng-if="qtOldAnswers.length!==0">
		    		<img class="img-responsive fading-In" src="https://q-see.s3.amazonaws.com/content/support/images/new_ones/qt_old.jpg">
		    		<p>If your {{prod_lvl_2}} Recorder on screen menus look like this, then the following link(s) will assist you in regards to {{cat_lvl_3.toLowerCase()}}:</p>
		    	</div>
		    	<a class="pointer badge" style="font-size:1.3em!important" ng-if="answer['cat_lvl_3']!=''" ng-repeat="answer in qtOldAnswers = (answers|filter:cat_lvl_3_filter|unique:'Summary'|oldQTSeriesFilter)" ui-sref="answer({a_id:answer['answer_id']})">{{answer['Summary']}}<br></a>
		    	<br ng-if="cat_lvl_3 && qtOldAnswers.length!==0">
		    	<br ng-if="cat_lvl_3 && qtOldAnswers.length!==0">

				<div class="lead text-center" ng-if="qtNewAnswers.length!==0">
		    		<img class="img-responsive fading-In" src="https://q-see.s3.amazonaws.com/content/support/images/new_ones/qt_new.jpg">
					<p>If your {{prod_lvl_2}} Recorder on screen menus look like this, then the following link(s) will assist you in regards to {{cat_lvl_3.toLowerCase()}}:</p>
				</div>
		    	<a class="pointer badge" style="font-size:1.3em!important" ng-if="answer['cat_lvl_3']!=''" ng-repeat="answer in qtNewAnswers = (answers|filter:cat_lvl_3_filter|unique:'Summary' |seriesFilter:'NEW QT')" ui-sref="answer({a_id:answer['answer_id']})">{{answer['Summary']}}<br></a>
		    	<br ng-if="cat_lvl_3 && qtNewAnswers.length!==0">
		    	<br ng-if="cat_lvl_3 && qtNewAnswers.length!==0">


		    	<a class="pointer badge" style="font-size:1.3em!important" ng-if="answer['cat_lvl_3']!=''&& qcBlackAnswers.length == 0 && qcBlueAnswers.length == 0 && qtOldAnswers.length == 0 && qtNewAnswers.length == 0 && prod_lvl_2!=='QC Series' && prod_lvl_2!=='QT Series'" ng-repeat="answer in answers|filter:cat_lvl_3_filter |unique:'Summary'" ui-sref="answer({a_id:answer['answer_id']})">{{answer['Summary']}}<br></a>
		    	<div ng-hide="answers.length == 0" ng-if="(prod_lvl_2=='QC Series' || prod_lvl_2=='QT Series') && qcBlackAnswers.length == 0 && qcBlueAnswers.length == 0 && qtOldAnswers.length == 0 && qtNewAnswers.length == 0">
		    		<p class="lead">The following answers are applicable to all {{prod_lvl_2}} products</p>
		    		<a class="pointer badge" style="font-size:1.3em!important" ng-repeat="answer in answers|filter:cat_lvl_3_filter |unique:'Summary'" ui-sref="answer({a_id:answer['answer_id']})">{{answer['Summary']}}<br></a>
		    	</div>
		    </div>
	    </div>
	    <div id="answer_list" ng-if="nested_answer_summary!=undefined && selected_answers == undefined"  dynamic="nested_answer_summary" >

        </div>
	</div>
	<div class="col-lg-1 col-md-1 hidden-sm hidden-xs" ng-if="userDocTest(cat_lvl_2,category)"></div>
</div>