<div ng-if="one_answer.html!= undefined" class="container" dynamic="one_answer.html" >
</div>
<div ng-if="one_answer.answer_type==2 && one_answer.url!= undefined" class="container-fluid">
	<iframe class="container-fluid" width="100%" ng-src="{{one_answer.url}}"></iframe>
</div>
<div ng-if="one_answer.answer_type==3 && one_answer.file_attachment!= undefined" class="container-fluid">
	<iframe class="container-fluid" width="100%" ng-src="{{one_answer.file_attachment}}"></iframe>
</div>