<br class="hidden-sm hidden-xs"><br class="hidden-sm hidden-xs">
<div ng-if="contact_info!=undefined" class="container fading-In" ng-cloak>
	<form name="tsForm" novalidate>
		<div class="col-lg-2 col-md-2 hidden-sm hidden-xs"></div>
		<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 less-margin">
			<div ng-if="contact_method!='chat'" class="card-header text-uppercase text-center">Ask a Question</div>
			<div ng-if="contact_method=='chat'" class="card-header text-uppercase text-center">Chat Support</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 card-body text-center less-margin aaq-form">
				<br><br>
				<div class="lead container-fluid uncentered">
					<div class="container-fluid less-margin">
						<div class="container-fluid less-margin contact-labels">
							<label>First Name:&nbsp;&nbsp;</label><span>{{contact_info.first_name}}</span><br><br>
							<label>Last Name:&nbsp;&nbsp;</label><span>{{contact_info.last_name}}</span><br><br>
							<label>Email:&nbsp;&nbsp;</label><span>{{contact_info.email}}</span><br>
						</div>
					</div>
				</div>
				<div ng-hide="contact_info" ng-if="contact_method!='chat'"  class="container-fluid form-field"  ng-init="setScopeValue(true,&#39;country_id&#39;,contact_info.country_id)">
                  <label class="form-label uncentered" >Country:</label>
                  <country-select-widget form="tsForm"></country-select-widget>  
                </div>
                <div class="container-fluid form-field country-field">
                  <label class="form-label uncentered" ng-hide="currentProduct!=undefined">Select your product:</label>
				  <product-select-widget form="tsForm"></product-select-widget>
                </div>
				<div ng-if="contact_method!='chat'" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 uncentered lead">
					<div class="checkbox-aaq">
						<label>
							Please select one or more of the following topics you want support for:
						</label><br>
						<div class="taglist">
							<ul class="taglist" style="margin-left: -28px;">
						        <li class="taglist">
						            <input name="password_reset" id="password_reset"ng-click="updateTextArea()" type="checkbox" value="Password Reset" />
						            <label for="password_reset">Password Reset</label>
						        </li>
						        <li class="taglist">
						            <input name="basic_functionality" id="basic_functionality" ng-click="updateTextArea()" type="checkbox" value="Basic Functionality" />
						            <label for="basic_functionality">Basic Functionality</label> 
						        </li>
						        <li class="taglist">
						            <input name="remote_mobile_monitoring" id="remote_mobile_monitoring" ng-click="updateTextArea()" type="checkbox" value="Remote/Mobile Monitoring"/>
						            <label for="remote_mobile_monitoring">Remote/Mobile Monitoring</label> 

						        </li>
						        <li class="taglist troubleshooting">
						            <input name="troubleshooting" id="troubleshooting" ng-click="updateTextArea()" type="checkbox" value="Troubleshooting"/>
						            <label class="troubleshooting-label" for="troubleshooting">Troubleshooting a potentially defective product</label> 

						        </li>
						        <li class="taglist other">
						            <input name="other" id="other" ng-click="updateTextArea()" type="checkbox" value="Other "/>
						            <label for="other">Other (please specify below)</label> 
						        </li>
						    </ul>
				        </div>
					</div>
				</div>
				<input name="where_purchased" ng-model="where_purchased" type="hidden"/>  
				<div class="container-fluid form-field country-field" ng-class="{'has-error': tsForm.subject_prerendered.$invalid && (!tsForm.subject_prerendered.$pristine || submitted==true)}">
                	<label class="form-label uncentered">Please let us know how we can help you by filling out this area.</label>
					<textarea name="subject_prerendered" class="login" style="width:100%" ng-model="subject_prerendered" required="true" ng-keyup="updateTextArea(subject_prerendered)"></textarea>
					<p ng-show="tsForm.subject_prerendered.$invalid && (!tsForm.subject_prerendered.$pristine || submitted==true)" class="text-center help-block fading-In">This field is required.</p>
				</div><br>
				<input type="hidden" name="subject" ng-model="subject">
				<submit-button ng-if="contact_info&&contact_method!='chat'" button-label="SUBMIT" ng-click="submitIncident(tsForm.$valid,'supportIncident',tsForm,prodId)"></submit-button>
				<submit-button ng-if="contact_method=='chat'" button-label="Launch Chat" ng-click="launchChat(tsForm,contact_info,prodId)"></submit-button>
				<div class="container-fluid"> 
					{{incidentError}}
				</div>
				<br><br>
			</div>
		</div>
		<div class="col-lg-2 col-md-2 hidden-sm hidden-xs"></div>
	</form>
</div>  
<div class="container fadeInRight" ng-if="contact_info== undefined">
	<div class="col-lg-4 col-md-4 hidden-sm hidden-xs"></div>
	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 less-margin">
		<login-form></login-form>
	</div>
	<div class="col-lg-4 col-md-4 hidden-sm hidden-xs"></div>
</div>