<br><br>
<div class="container less-margin fading-In">
	<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
	<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
		<div class="card-header text-uppercase text-center">Error</div>
		<div class="card-body col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<br><br>
			<div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
				<br><br>
				<p class="lead">
					There was an error with your request
				</p>
			</div>
		</div>
	</div>
	<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
</div><br><br>