<br><br>
<div class="container" >
	<div class="container">
		<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
		<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 card">
			<div class="card-header text-uppercase text-center">Thank you
				<span ng-if="detectState('incident_confirmation')"> for submitting your question</span>
				<span ng-if="detectState('rma_confirmation')"> for submitting your RMA request</span>
				<span ng-if="detectState('product_registration_confirmation')">for registering your product</span>
			</div>
			<div class="card-body"> suh dude</div>
		</div>
		<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
	</div>
</div>