<div>
  <br><br>
  <div id="rn_PageContent" class="rn_Account rn_LoginForm" ng-class="{'fading-In': stopFading()}">
      <div class="rn_Padding account_container">      
          <div class="account-login card">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="col-lg-2 col-md-2 hidden-sm hidden-xs"></div>
                  <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 card">
                    <div class="container-fluid account-card-header text-center text-uppercase">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 account-button pointer" ui-sref="login_page" ng-class="{'active-account-button': detectState('login_page')}">  
                            <a style="color:#333" ui-sref="login_page">Login</a> 
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 account-button pointer" ui-sref="account_creation" ng-class="{'active-account-button': !detectState('login_page')}">
                            <a style="color:#333" ui-sref="account_creation">Register</a>
                        </div>
                    </div>
                    <div ng-if="detectState('login_page')">
                        <form class="card-body text-center"  name="liForm" ng-keyup="$event.keyCode == 13 && logInHandler(liForm.$valid,&#39;in&#39;,login,password,'account_overview')" novalidate>
                          <div  ng-class="{'fading-In': detectState('login_page')}">
                          <br><br>
                          <div class="container-fluid has-error"><p ng-if="loginError!=undefined" class="help-block fading-In">{{loginError}}</p></div>
                            <div class="container-fluid form-field"  ng-class="{&#39; has-error&#39;: liForm.login.$invalid && (!liForm.login.$pristine || submittedLogin==true)}">
                              <label class="form-label uncentered" >Login:</label>
                              <input name="login" ng-model="login" class="login" required="true">
                              <p ng-show="liForm.login.$invalid && (!liForm.login.$pristine || submittedLogin==true)" class="help-block fading-In">Your login is required.</p>
                            </div>
                            <div class="container-fluid form-field"  ng-class="{&#39; has-error&#39;: liForm.password.$invalid && (!liForm.password.$pristine || submittedLogin==true)}">
                              <label class="form-label uncentered" >Password:</label>
                              <input name="password" ng-model="password" class="login" type="password" required="true">
                              <p ng-show="liForm.password.$invalid && (!liForm.password.$pristine || submittedLogin==true)" class="help-block fading-In">Your password is required.</p>
                            </div>
                            <a class="fp-link" ui-sref="account_assistance">Forgot your username or password?</a>
                            <div class="text-uppercase">
                              <br>
                              <submit-button button-label="LOG IN" ng-click="logInHandler(liForm.$valid,&#39;in&#39;,login,password,'account_overview')"></submit-button>
                              <br><br>
                            </div>
                          </div>
                        </form>
                    </div>
                    <div ng-if="!detectState('login_page')" class="registration_card">
                      <form class="card-body text-center"   ng-keyup="$event.keyCode == 13 && createAccount(acForm.$valid,email,first_name,last_name,password_new,password_verify)" name="acForm" novalidate>
                        <div ng-class="{'fading-In': !detectState('login_page')}">
                          <br><br>
                          <div class="container-fluid has-error"><p ng-if="creationError!=undefined" class="help-block fading-In" dynamic="creationError"></p></div>
                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 first half form-field" ng-class="{'has-error': acForm.first_name.$invalid && (!acForm.first_name.$pristine || submitted==true)}">
                            <label class="form-label uncentered" >First Name:</label>  
                            <input name="first_name" ng-model="contact_info.first_name"  class="login" required="true">
                            <p ng-show="acForm.first_name.$invalid && (!acForm.first_name.$pristine || submitted==true)" class="help-block fading-In text-center">Your first name is required.</p>
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 half form-field"  ng-class="{'has-error': acForm.last_name.$invalid && (!acForm.last_name.$pristine || submitted==true)}">
                            <label class="form-label uncentered" >Last Name:</label>
                            <input name="last_name" ng-model="contact_info.last_name"  class="login"  required="true">
                              <p ng-show="acForm.last_name.$invalid && (!acForm.last_name.$pristine || submitted==true)" class="help-block fading-In text-center">Your last name is required.</p>
                          </div>
                          <div class="container-fluid form-field signup"  ng-class="{'has-error': acForm.email.$invalid && (!acForm.email.$pristine || submitted==true)}">
                            <label class="form-label uncentered" >Email Address:</label>
                            <input type="email" ng-model="contact_info.email" name="email"  class="login" required="true">
                            <p ng-show="acForm.email.$invalid && (!acForm.email.$pristine || submitted==true)" class="help-block fading-In text-center">Your email is required; it is currently empty or in the wrong format.</p>
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 first half form-field" ng-class="{'has-error': acForm.password_new.$invalid && (!acForm.password_new.$pristine || submitted==true)}">
                            <label class="form-label uncentered" >Password:</label>
                            <input name="password_new" ng-model="password_new" class="login" type="password" required="true">
                            <p ng-show="acForm.password_new.$invalid && (!acForm.password_new.$pristine || submitted==true)" class="help-block fading-In">Your password is required.</p>
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 half form-field" ng-class="{'has-error': (acForm.password_verify.$invalid && (!acForm.password_verify.$pristine || submitted==true)||
                          !acForm.password_verify.$pristine && password_verify!=password_new)}">
                            <label class="form-label uncentered" >Confirm Password:</label>
                            <input name="password_verify" ng-model="password_verify" class="login" type="password" required="true">
                            <p ng-show="acForm.password_verify.$invalid && (!acForm.password_verify.$pristine || submitted==true)" class="help-block fading-In">Your password confirmation is required.</p>
                            <p ng-show="!acForm.password_verify.$pristine && password_verify.length > 0&& password_verify!=password_new" class="help-block fading-In">Passwords do not match</p>
                          </div>
                          <br>
                          <submit-button button-label="register" ng-click="createAccount(acForm.$valid,acForm.email.$viewValue,acForm.first_name.$viewValue,acForm.last_name.$viewValue,acForm.password_new.$viewValue,acForm.password_verify.$viewValue)"></submit-button>
                          <br><br>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-2 hidden-sm hidden-xs"></div>
              </div>
          </div>
      </div>
  </div>
</div>