<br class="hidden-sm hidden-xs"><br class="hidden-sm hidden-xs" ng-init="checkProductKey()">
<div ng-show="products!=undefined" ng-if="prodTechnology==undefined && prodSeries==undefined" class="container fading-In">
	<div ng-if="prodCategory=='Accessories'" class="col-lg-3 col-md-3 hidden-sm hidden-xs"></div>
	<div ng-if="prodCategory!='Accessories'" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 less-margin text-center search-by-technology">
		<div class="card-header">FILTER BY TECHNOLOGY</div>
		<div class="card-body col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
			<br><br>
			<div ng-repeat="(key,values) in products| unique:'values'">
				<div class="details col-lg-3 col-md-3 col-sm-6 col-xs-6 prod-tech" ng-repeat="value in values | orderBy: 'technology'| unique:'technology'">
					<div class="square-box">
						<div class="prod-square-content">
							<div>
								<a class="white-text has-tech {{value.technology}}" ui-sref="products({key: prodCategory ,technology:value.technology})" >{{value.technology}}</a>
							</div>
						</div>
					</div>
				</div><br>  
			</div>
		</div>
	</div>
	<div ng-class="{'col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center': prodCategory=='Accessories'}" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center less-margin search-by-series">
		<div class="card-header">FILTER BY SERIES</div>
		<div class="card-body col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
			<br><br>
			<div  ng-repeat="(key,values) in products">
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 prod-series" ng-show="prodCategory==null || (prodCategory!=null && prodCategory==key)" ng-repeat="value in values| orderBy: 'series'| unique:'series'|reverse">
					<div class="square-box">
						<div class="prod-square-content">
							<div>
								<a class="series_ text-uppercase" ui-sref="products({key: prodCategory ,series:value.series})" >
									<p ng-class="{'has-series-2':value.series!='Other'&& value.series.replace(' Series','').length ==2 && prodCategory!='Accessories',
									'has-series-3':value.series!='Other'&& value.series.replace(' Series','').length ==3 && prodCategory!='Accessories', 'accessories':prodCategory=='Accessories'&& value.series!='Connectors','accessories-connectors':prodCategory=='Accessories' && value.series=='Connectors'}">{{value.series.replace('Series','')}}</p>
									<span ng-if="value.series!='Other'&&prodCategory!='Accessories'">Series</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div><br>
		</div>
	</div>
	<div ng-if="prodCategory=='Accessories'" class="col-lg-3 col-md-3 hidden-sm hidden-xs"></div>
</div>
<div ng-if="prodCategory==key && (prodTechnology!=undefined || prodSeries!=undefined)" class="container fading-In products-selection" ng-repeat="(key,values) in products ">
	<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
	<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 less-margin">
		<div class="card-header text-center text-uppercase" ng-class="{'no-margin':(prodTechnology!=undefined || prodSeries!=undefined)}">
			<a ng-class="{'arrow_box blue_arrow col-lg-6 col-md-6 col-sm-6 col-xs-6':(prodTechnology!=undefined || prodSeries!=undefined)}" ui-sref="products({key: prodCategory,technology:null,series:null})">{{prodCategory}}</a> 
			<span class="col-lg-6 col-md-6 col-sm-6 col-xs-6 yellow_arrow" ng-if="prodTechnology!=undefined" ui-sref="products({key: prodCategory,technology:prodTechnology})">{{prodTechnology}}</span>
			<span class="col-lg-6 col-md-6 col-sm-6 col-xs-6 yellow_arrow" ng-if="prodSeries!=undefined" ui-sref="products({key: prodCategory, series: prodSeries})">{{prodSeries}}</span>
		</div>
		<div class="card-body">
			<br>
			<div class="products-holder">
				<div class="fading-In text-center product-container quartered" ng-if="(prodTechnology!=undefined && prodTechnology==value.technology) || (prodSeries!=undefined && prodSeries==value.series)" ng-repeat="value in values| orderBy: 'name' | reverse ">
              <div class="square-box">
                <div class="prod-square-content">
                  <div>
                    <a ui-sref="product({product: value.name})" class="pointer fine-looking-text">
                      <!-- <span class="helper"></span> -->
                      <img fallback-src class="img-responsive product-img" ng-src="//q-see.s3.amazonaws.com/content/support/prodImage/{{value.name}}.jpg">
                      <small class="text-center">
                        <small class="product-label">{{::value.name}}</small><br>
                        <small class="series-flag flag-{{value.technology.toLowerCase().replace(' ','-')}}">{{value.technology}}</small>
                      </small>
                    </a>
                  </div>
                </div>
              </div>  
            </div>
			</div>  
	    </div>
	</div>
	<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
</div>