<div class="container">
	<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12" ng-cloak>
		<div class="container-fluid fading-In product-container">
			<img class="img-responsive" ng-src="//q-see.s3.amazonaws.com/content/support/prodImage/{{product.product_name}}.jpg">
        	<div>{{product.product_name}}</div>
        	<div>{{product.technology}}</div>
		</div>
		<div class="container-fluid fading-In answer-category-container">
			<div ng-repeat="(answerCategory,answerSubCategories) in product.answers">
				<div class="container-fluid">
					<a ng-click="active = !active" ng-class="{'hidden': answerCategory=='Firmware'}">{{answerCategory}}</a>
					<div style="margin-left:20px;" ng-show="active" ng-repeat="(key,values) in answerSubCategories">
						<a ng-click="setSelected(values)">{{key}} - {{values.length}}</a>
					</div>
					<div ng-if="answerCategory=='Firmware'" ng-repeat="(key,values) in answerSubCategories">
						<a ng-click="setSelected(values)">{{answerCategory}} {{values.length}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
		<div class="container-fluid" ng-repeat="answer in selected_answers">
			<a ui-sref="answer({a_id: answer.id})" >{{answer.summary}}</a>
		</div>
	</div>
</div>