<br class="hidden-sm hidden-xs"><br class="hidden-sm hidden-xs">
<div class="container" ng-if="contact_info!= undefined && detectState('product_registration')">  
	<div class="container fading-In less-margin">
		<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
		<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 less-margin">
			<div class="text-center">
				<div class="card-header text-uppercase text-center">Product Registration (Part 1/2 of form)</div>
			</div>
			<account-info-widget></account-info-widget>
			
			<br class="hidden-sm hidden-xs"><br class="hidden-sm hidden-xs">
		</div>
		<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
	</div>
</div>
<div ng-if="contact_info!= undefined && detectState('product_registration_')">
	<div class="container fading-In less-margin">
		<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
		<div class="col-lg-10 col-md-10 col-md-12 col-xs-12">
			<div class="card-header text-center text-uppercase">Product Registration (Part 2/2 of form)</div>
			<div class="card-body no_overflow container-fluid less-margin  extra-bottom">
				<div class="container-fluid  less-margin">
					<form name="prodRegForm" class="no_overflow container-fluid less-margin" novalidate>
						<br class="hidden-sm hidden-xs">
						<span class="lead text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">Please fill out the form below so that we have the correct product registered for your account</span>
						<br class="hidden-sm hidden-xs">
						<div class="container-fluid form-field">
			              <label class="form-label uncentered" ng-hide="currentProduct!=undefined">Select your product:</label>
						  <product-select-widget form="prodRegForm"></product-select-widget>
			            </div>
			            <div class="container-fluid form-field" ng-class="{&#39;has-error&#39;: prodRegForm.where_purchased.$invalid && (!prodRegForm.where_purchased.$pristine || submitted==true)}">
		                  <label class="form-label uncentered" >Please inform us where your item was purchased.</label>
		                  <span class="drop-down-arrow text-center pull-right country-select-arrow"><i class="fa fa-sort-desc"></i></span>
			              <select name="where_purchased" class="country-select" ng-model="where_purchased" required="true" ng-blur="setScopeValue(false,&#39;where_purchased&#39;,location.wp_id)" ng-options="location.wp_id as location.where_purchased for location in wherePurchasedLocations" ng-selected="where_purchased == location.wp_id">
			                <!-- <option ng-repeat="location in wherePurchasedLocations"   value="{{location.wp_id}}" >{{location.where_purchased}}<option> -->
			              </select>
			              <p ng-show="prodRegForm.where_purchased.$invalid && (!prodRegForm.where_purchased.$pristine || submitted==true)" class="text-center help-block fading-In">This field is required</p>
		                </div>
		                <div class="container-fluid form-field" ng-class="{&#39; has-error&#39;: (prodRegForm.date_purchased.$invalid && (!prodRegForm.date_purchased.$pristine || submitted==true))|| compareDates(today(),date_purchased)||youHaveAnOldProduct==true}">
		                  <label class="form-label uncentered" >When did you purchase your item(s)?</label>
		                  <div class="datepicker" date-format="longDate" date-min-limit="2013-01-01T08:00:00.000Z" date-max-limit="{{::today()}}" button-prev='<i class="fa fa-arrow-circle-left"></i>' button-next='<i class="fa fa-arrow-circle-right"></i>'>
							<input prod-reg name="date_purchased" ng-model="date_purchased" class="login" type="text" required="true"/>
						  </div>  
						  <br><br>
		                  <p ng-show="(prodRegForm.date_purchased.$invalid && (!prodRegForm.date_purchased.$pristine || submitted==true))" class="help-block fading-In text-center">This is a required field; please set a valid date.</p>
		                  <p ng-show="(date_purchased!=undefined && compareDates(today(),date_purchased))" class="help-block fading-In text-center">You must input a date that is not in the future... sorry, time travelers.</p>
		                  <p ng-show="(youHaveAnOldProduct==true)" class="help-block fading-In text-center">The date you have selected is ineligible for product registrations; the earliest date that can be selected is January 1, 2013.</p>
		                </div>
		                <div class="container-fluid form-field" ng-class="{&#39; has-error&#39;: (prodRegForm.file.$invalid || prodRegForm.file.$error.maxSize || errorMsg!=undefined)}">
		                	<label class="form-label uncentered" >Please attach your proof of purchase</label>
					        <label class="form-label proof_of_purchase fading-In" ng-show="uploaded_file != undefined">{{uploaded_file.name}}<span ng-click="clearFile()"><i style="margin:0 10px" class="fa fa-times-circle red"></i></span></label>
					       	<div ng-hide="uploaded_file!=undefined">
						        <div class="uncentered proof_of_purchase pointer" for="file">
						        	<span class="pull-right file-input">
						        		<span>Browse...</span>
						        		<i class="fa fa-upload"></i>
						        	</span>
						        </div>     
			                	<input type="file" id="file" ngf-select ng-model="fileUpload" class="login proof_of_purchase pointer" name="file"    
					             ngf-max-size="5MB" required="true"
					             ngf-model-invalid="errorFile"
					             ng-change="uploadFile(fileUpload)"
					             >
				            </div>
				            <div class="progress text-center" ng-class="{'fadeOut': fileUpload.progress =='100'}" ng-show="fileUpload!= undefined && fileUpload.progress > 0 && uploaded_file==undefined && fileCleared == false">
						        <p ng-hide="fileUpload == undefined || fileUpload.progress ==100" style="width:{{fileUpload.progress}}%">{{fileUpload.progress + '%'}}</p>
						        <p ng-if="fileUpload.progress =='100'" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 result">Upload Complete!</p>  
						    </div>
						    <p ng-show="prodRegForm.file.$error.maxSize" class="help-block fading-In text-center">File too large; the max size is max 5MB, the file that you wish to upload is 
						        {{errorFile.size / 1000000|number:1}}MB.</p>  
						    <p ng-show="prodRegForm.file.$invalid && (!prodRegForm.file.$pristine || submitted==true) && !prodRegForm.file.$error.maxSize && !errorMsg" class="help-block fading-In text-center">You must provide a proof of purchase.</p>
						    <p class="err help-block fading-In text-center" ng-show="errorMsg">{{errorMsg}}</p>
		                </div>
		                <br>
		                <div class="container-fluid form-field lead text-center less-margin">
		                    <span class="rn_Label">I</span>
		                    <span class="badge">
		                    	<input type="radio" name="contact_preference" ng-model="contact_preference" checked="checked" value="1">
		            			<label class="lead no-margin" ng-click="setScopeValue(true,'contact_preference',1)">want</label>
		                    </span>
		                    <span> / </span>
		                    <span class="badge">
		                    	<input type="radio" name="contact_preference" ng-model="contact_preference" value="0">
		            			<label class="lead no-margin" ng-click="setScopeValue(true,'contact_preference',0)">do not want</label>
		                    </span>
		            		<span>to receive promotional emails from Q-See.</span>
		                </div>
		                <br>
		                <div class="container-fluid text-center">
					    	<submit-button ng-if="contact_info" button-label="SUBMIT" ng-click="submitIncident(prodRegForm.$valid,'productRegistration',prodRegForm,prodId,uploaded_file,contact_preference)"></submit-button>  
		                </div>
		                {{incidentError}}
					<br class="hidden-sm hidden-xs"><br>
					</form>
				</div>
			</div>
		</div>
		<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
	</div>
</div>
<div class="container fadeInRight" ng-if="contact_info== undefined">
	<div class="col-lg-4 col-md-4 hidden-sm hidden-xs"></div>
	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 less-margin">
		<login-form></login-form>
	</div>
	<div class="col-lg-4 col-md-4 hidden-sm hidden-xs"></div>
</div>