<br class="hidden-sm hidden-xs">
<div class="container fading-In" ng-if="contact_info!= undefined">  
	<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
	<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 less-margin">
		<br>
        <div class="text-uppercase text-center card-header">Registered Products</div>
        <div class="card-body">
        	<br><br>
			<table class="table text-center table-striped table-responsive lead table-with-less-margin-bottom">
				<thead>
					<tr class="text-center">
					    <th style="text-align:center">Product Item Number</th>
			  		</tr>
				</thead>
				<tbody>
					<tr ng-repeat="product in contact_info.prod_reg_incidents">
				  		<td><a ui-sref="product({product:product.product_name})">{{product.product_name}}</a></td>
					</tr>
				</tbody>
			</table>
			<br>
	        <div class="text-center ">
	        	<a class="text-uppercase large-button" ui-sref="account_overview">Back to Account</a>
	        </div>
        	<br><br>
        </div>  
	</div>
	<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
</div>
<div class="container fadeInRight" ng-if="contact_info== undefined">
	<div class="col-lg-4 col-md-4 hidden-sm hidden-xs"></div>
	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
		<login-form></login-form>
	</div>
	<div class="col-lg-4 col-md-4 hidden-sm hidden-xs"></div>
</div>