<br><br>
<div class="container less-margin fading-In">
	<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
	<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
		<div class="card-header text-uppercase text-center">Remote Rescue</div>
		<div class="card-body col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<br><br>
			<div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="inst information_new">
					<i class="pull-left fa fa-3x fa-info-circle"></i>
					<span class="red lead">You only need to download this application if you have been instructed to do so by a Q-See Support Agent.</span>
				</div>
				<br>
				<ul class="lead move-this-list">
					<li>Before you begin a remote session, please exit out of any sensitive applications or documents that you may have open on your computer.</li>
					<br>
					<li>This application will give the agent remote access to your computer in order to configure your network for the purposes of establishing a remote connection to your Q-See product.</li>
					<br> 
					<li>During this process, a plugin may have be installed onto your computer to enable a remote connection to your Q-See product. If we run into any difficulty installing the plugin, other configurations will take place. For example: <br><br>
						<ul style="margin-left:50px!important">
							<li>Lowering your security settings within browser/Operating System</li><br>
							<li>Temporarily disabling your Antivirus.</li>
						</ul>
					</li> 
				</ul>
				<br><br>
				
				<p class="text-center">
					<a class="large-button" href="http://898.tv/q-see" target="_blank">Click Here To Download Q-See Remote Rescue</a>
				</p>
				<br><br>	
			</div>
		</div>
	</div>
	<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
</div><br><br>