<div class="container fading-In">
  <br>
  <br>
  <div class="hidden-sm hidden-xs col-lg-1 col-md-1"></div>
  <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 card">
    <div class="card-header text-center text-uppercase">
      Reset your password!!!!!!!
    </div>
    <div class="card-body" ng-if="contact_info!=undefined && detectState('reset_password')">
      <br>
      <br>
      <p class="text-center">
        <span class="lead">The form below is for resetting your Q-See Support Portal password.</span>
      </p>
      <br>
      <form ng-if="passwordResetMessage==undefined" class="text-center" name="changePasswordForm" ng-keyup="$event.keyCode == 13 && changePassword(changePasswordForm)" novalidate>
        <div class="container-fluid form-field" ng-class="{'has-error': changePasswordForm.password_old.$invalid && (!changePasswordForm.password_old.$pristine || submitted==true)}">
          <label class="form-label uncentered">Old Password:</label>
          <input name="password_old" ng-model="password_old" class="login" type="password" required="true">
          <p ng-show="changePasswordForm.password_old.$invalid && (!changePasswordForm.password_old.$pristine || submitted==true)" class="help-block fading-In">Your password is required.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 first half form-field" ng-class="{'has-error': changePasswordForm.password_new.$invalid && (!changePasswordForm.password_new.$pristine || submitted==true)}">
          <label class="form-label uncentered">New Password:</label>
          <input name="password_new" ng-model="password_new" class="login" type="password" required="true">
          <p ng-show="changePasswordForm.password_new.$invalid && (!changePasswordForm.password_new.$pristine || submitted==true)" class="help-block fading-In">Your password is required.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 half form-field" ng-class="{'has-error': (changePasswordForm.password_verify.$invalid && (!changePasswordForm.password_verify.$pristine || submitted==true)||
                !changePasswordForm.password_verify.$pristine && password_verify!=password_new)}">
          <label class="form-label uncentered">Confirm Password:</label>
          <input name="password_verify" ng-model="password_verify" class="login" type="password" required="true">
          <p ng-show="changePasswordForm.password_verify.$invalid && (!changePasswordForm.password_verify.$pristine || submitted==true)" class="help-block fading-In">Your password confirmation is required.</p>
          <p ng-show="!changePasswordForm.password_verify.$pristine && password_verify.length > 0&& password_verify!=password_new" class="help-block fading-In">Passwords do not match</p>
        </div>
        <div class="text-uppercase">
          <p class="large-text large-button" ng-click="changePassword(changePasswordForm)">reset password</p>
        </div>
      </form>
      <div ng-if="passwordResetMessage!=undefined" class="lead container-fluid" ng-class="{'fading-In': passwordResetMessage!=undefined}">
        <br>
        <div class="container-fluid" dynamic="passwordResetMessage"></div>
      </div>
    </div>
    <div class="card-body" ng-if="contact_info==undefined && detectState('reset_password')">
      <br>
      <br>
      <p class="text-center">
        <span class="lead">The form below is for resetting your Q-See Support Portal password.</span>
      </p>
      <br>
      <form ng-if="passwordResetMessage==undefined" class="text-center" name="passwordResetForm" ng-keyup="$event.keyCode == 13 && resetPassword()" novalidate>
        <div class="container-fluid form-field" ng-class="{'has-error': passwordResetForm.password_new.$invalid && (!passwordResetForm.password_new.$pristine || submitted==true)}">
          <label class="form-label uncentered">Password:</label>
          <input name="password_new" ng-model="password_new" class="login" type="password" required="true">
          <p ng-show="passwordResetForm.password_new.$invalid && (!passwordResetForm.password_new.$pristine || submitted==true)" class="help-block fading-In">Your password is required.</p>
        </div>
        <div class="container-fluid form-field" ng-class="{'has-error': (passwordResetForm.password_verify.$invalid && (!passwordResetForm.password_verify.$pristine || submitted==true)||
        !passwordResetForm.password_verify.$pristine && password_verify!=password_new)}">
          <label class="form-label uncentered">Confirm Password:</label>
          <input name="password_verify" ng-model="password_verify" class="login" type="password" required="true">
          <p ng-show="passwordResetForm.password_verify.$invalid && (!passwordResetForm.password_verify.$pristine || submitted==true)" class="help-block fading-In">Your password confirmation is required.</p>
          <p ng-show="!passwordResetForm.password_verify.$pristine && password_verify.length > 0&& password_verify!=password_new" class="help-block fading-In">Passwords do not match</p>
        </div>
        <div class="text-uppercase">
          <p class="large-text large-button" ng-click="resetPassword(passwordResetForm.$valid,cred,password_new, password_verify)">reset password</p>
        </div>
      </form>
      <div ng-if="passwordResetMessage!=undefined" class="lead container-fluid" ng-class="{'fading-In': passwordResetMessage!=undefined}">
        <br>
        <div class="container-fluid" dynamic="passwordResetMessage"></div>
      </div>
    </div>
    <div class="card-body" ng-if="contact_info!=undefined && detectState('reset_password_confirmation')">
      <br>
      <br>
      <p class="text-center">
        <span class="lead">Your password has been updated</span>
      </p>
      <br>
    </div>
  </div>
  <div class="hidden-sm hidden-xs col-lg-1 col-md-1"></div>
</div>