<br class="hidden-sm hidden-xs"><br class="hidden-sm hidden-xs">
<div ng-if="contact_info!=undefined">
	<div ng-if="!rmaFormHandling()" class="container fading-In less-margin">
		<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
		<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
			<div class="text-center">
				<div class="card-header text-uppercase text-center">RMA Form (Part 2/3 of form)</div>
			</div>
			<account-info-widget></account-info-widget>
			
			<br class="hidden-sm hidden-xs"><br>
		</div>
		<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
	</div>
	<div ng-if="rmaFormHandling()" class="container fading-In">  
		<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
		<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 less-margin">
			<div class="text-center">
				<div class="card-header text-uppercase text-center">RMA Form (Part 3/3 of form)</div>
			</div>
			<form name="rmaForm" class="card-body container-fluid less-margin extra-bottom" novalidate>
				<br>
				<span class="lead text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">Please provide the information below, and we'll be glad to assist you. Be as specific as possible - the more information we have the quicker and more throughly we can help.</span>
				<br class="hidden-sm hidden-xs">
				<div class="container-fluid form-field">
	              <label class="form-label uncentered" ng-hide="currentProduct!=undefined">Select your product:</label>
				  <product-select-widget form="rmaForm"></product-select-widget>
	            </div>
	            <div class="container-fluid form-field"  ng-class="{&#39; has-error&#39;: (rmaForm.how_many.$invalid && (!rmaForm.how_many.$pristine || submitted==true))|| (date_purchased!=undefined)}">
                  <label class="form-label uncentered" >How many items do you need to have replaced?</label>
                  <input type="number" name="how_many" min="1" ng-model="how_many" class="login" required="true">
                  <p ng-show="rmaForm.how_many.$invalid && (!rmaForm.how_many.$pristine || submitted==true)" class="help-block fading-In text-center">This is a required field; the minimum number of items is 1.</p>
                </div> 
                <div ng-hide="!rmaPurchaseDate" class="container-fluid form-field" ng-class="{&#39; has-error&#39;: (rmaForm.date_purchased.$invalid && (!rmaForm.date_purchased.$pristine || submitted==true))|| compareDates(today(),date_purchased)||youHaveAnOldProduct==true}">
                  <label class="form-label uncentered" >When did you purchase your item(s)?</label>
                  <div class="datepicker" date-format="longDate" date-min-limit="2013-01-01T08:00:00.000Z" date-max-limit="{{::today()}}" button-prev='<i class="fa fa-arrow-circle-left"></i>' button-next='<i class="fa fa-arrow-circle-right"></i>'>
					<input check-dates prod-reg="false" name="date_purchased" ng-model="date_purchased" class="login" type="text" required="true"/>
				  </div>  
				  <br><br>
                  <p ng-show="(rmaForm.date_purchased.$invalid && (!rmaForm.date_purchased.$pristine || submitted==true))" class="help-block fading-In text-center">This is a required field; please set a valid date.</p>
                  <p ng-show="(date_purchased!=undefined && compareDates(today(),date_purchased))" class="help-block fading-In text-center">You must input a date that is not in the future... sorry, time travelers.</p>
                  <p ng-show="(youHaveAnOldProduct==true)" class="help-block fading-In text-center">The date you have selected is ineligible for RMA returns; the earliest date that can be selected is January 1, 2013.</p>
                  <p ng-show="date_purchased!=undefined && within_6_months!=undefined" class="fading-In text-center">{{within_6_months}}</p>
                </div>
                <div class="container-fluid form-field" ng-show="rmaProofOfPurchase" ng-class="{&#39; has-error&#39;: (rmaForm.file.$invalid || rmaForm.file.$error.maxSize || errorMsg!=undefined)}">
                	<label class="form-label uncentered" >Please attach your proof of purchase</label>
			        <label class="form-label proof_of_purchase fading-In" ng-show="uploaded_file != undefined">{{uploaded_file.name}}<span ng-click="clearFile()"><i style="margin:0 10px" class="fa fa-times-circle red"></i></span></label>
			       	<div ng-hide="uploaded_file!=undefined">
				        <div class="uncentered proof_of_purchase pointer" for="file">
				        	<span class="pull-right file-input">
				        		<span>Browse...</span>
				        		<i class="fa fa-upload"></i>
				        	</span>
				        </div>     
	                	<input type="file" id="file" ngf-select ng-model="fileUpload" class="login proof_of_purchase pointer" name="file"    
			             ngf-max-size="5MB" ng-required="rmaProofOfPurchase"
			             ngf-model-invalid="errorFile"
			             ng-change="uploadFile(fileUpload)"
			             >
		            </div>
		            <div class="progress text-center" ng-class="{'fadeOut': fileUpload.progress =='100'}" ng-show="fileUpload!= undefined && fileUpload.progress > 0 && uploaded_file==undefined && fileCleared == false">
				        <p ng-hide="fileUpload == undefined || fileUpload.progress ==100" style="width:{{fileUpload.progress}}%">{{fileUpload.progress + '%'}}</p>
				        <p ng-if="fileUpload.progress =='100'" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 result">Upload Complete!</p>  
				    </div>
				    <p ng-show="rmaForm.file.$error.maxSize" class="help-block fading-In text-center">File too large; the max size is max 5MB, the file that you wish to upload is 
				        {{errorFile.size / 1000000|number:1}}MB.</p>  
				    <p ng-show="rmaForm.file.$invalid && (!rmaForm.file.$pristine || submitted==true) && !rmaForm.file.$error.maxSize && !errorMsg" class="help-block fading-In text-center">You must provide a proof of purchase.</p>
				    <p class="err help-block fading-In text-center" ng-show="errorMsg">{{errorMsg}}</p>
                </div>
                <div class="container-fluid form-field" ng-show="rmaPurchaseLocation" ng-class="{&#39;has-error&#39;: rmaForm.where_purchased.$invalid && (!rmaForm.where_purchased.$pristine || submitted==true)}">
                  <label class="form-label uncentered" >Please inform us where your item was purchased.</label>
                  <span class="drop-down-arrow text-center pull-right country-select-arrow"><i class="fa fa-sort-desc"></i></span>
	              <select name="where_purchased" class="country-select" ng-model="where_purchased" required="true" ng-blur="setScopeValue(false,&#39;where_purchased&#39;,location.wp_id)" ng-options="location.wp_id as location.where_purchased for location in wherePurchasedLocations" ng-selected="where_purchased == location.wp_id">
	              </select>
	              <p ng-show="rmaForm.where_purchased.$invalid && (!rmaForm.where_purchased.$pristine || submitted==true)" class="text-center help-block fading-In">This field is required</p>
                </div>
                <div class="container-fluid form-field" ng-class="{&#39;has-error&#39;: rmaForm.reason_returned.$invalid && (!rmaForm.reason_returned.$pristine || submitted==true)}">
                  <label class="form-label uncentered" >Why are you returning this item(s)?</label>
                  <span class="drop-down-arrow text-center pull-right country-select-arrow"><i class="fa fa-sort-desc"></i></span>
	              <select name="reason_returned" class="country-select" ng-model="reason_returned" required="true" ng-blur="setScopeValue(false,&#39;reason_returned&#39;,reason.rr_id)" ng-options="reason.rr_id as reason.reason_returned for reason in reasonsReturned" ng-selected="reason_returned == reason.rr_id">
	              </select>
	              <p ng-show="rmaForm.reason_returned.$invalid && (!rmaForm.reason_returned.$pristine || submitted==true)" class="text-center help-block fading-In">This field is required</p>
                </div>
                <div class="container-fluid form-field" ng-class="{'has-error': rmaForm.subject.$invalid && (!rmaForm.subject.$pristine || submitted==true)}">
                	<label class="form-label uncentered">Please let us know how we can help you by filling out this area.</label>
					<textarea name="subject" class="login" style="width:100%" ng-model="subject" required="true"></textarea>
					<p ng-show="rmaForm.subject.$invalid && (!rmaForm.subject.$pristine || submitted==true)" class="text-center help-block fading-In">This field is required.</p>
				</div><br>
                <div class="container-fluid text-center">
			    	<submit-button ng-if="contact_info" button-label="SUBMIT" ng-click="submitIncident(rmaForm.$valid,'rmaIncident',rmaForm, prodId,file_upload)"></submit-button>
                </div>
			<br class="hidden-sm hidden-xs"><br>
			{{incidentError}}
			</form>
		</div>
		<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
	</div>
</div>
<div class="container fadeInRight" ng-if="contact_info== undefined">
	<div class="col-lg-4 col-md-4 hidden-sm hidden-xs"></div>
	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
		<login-form></login-form>
	</div>
	<div class="col-lg-4 col-md-4 hidden-sm hidden-xs"></div>
</div