<br class="hidden-sm hidden-xs"><br class="hidden-sm hidden-xs">
<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 fading-In">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 less-margin">
		<div class="text-center text-uppercase card-header col-lg-12 col-md-12 col-sm-12 col-xs-12">
			Please review the following (Part 1/3 of form)
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 card-body lead less-margin extra-bottom">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<br>
					<strong>Q-See Warranty Period Information: </strong>
					<div>
						<ul>
							<li>A 2 Year Warranty will apply for all new product purchases after January 1, 2014</li>
							<li>A 1 Year Warranty will apply for all new product purchases before January 1, 2014</li>
							<li>A 90 Day Warranty will apply on all reconditioned purchases</li>
						</ul>
					</div>
					<br class="space">
					<strong>Proof of Purchase:</strong>
					<ul>
						<li>All items returned to Q-See must include a valid proof of purchase from an authorized Q-See retailer.</li>
						<li>Out of warranty products may still qualify for repair at an additional cost.</li>
						<li>Be advised, an incorrect original purchase date when submitting the RMA will be subject to out-of-warranty terms and conditions.</li>
					</ul>
					<br class="space">
					<strong>Troubleshooting:</strong>
					<div>
						<p>If you have already completed troubleshooting steps with an authorized Q-See Support Technician, please indicate your incident # or any information in the comments field of the RMA form.  If you have not, please be advised that a support technician may contact you before authorizing your RMA.</p>
					</div>
					<br class="space">
					<strong>Shipping:</strong>
					<div>
						<p>Upon approval of your requested RMA, Q-See will email you a prepaid shipping label (at no cost to you) to send back your defective or wrong item.</p>
					</div>
					<br class="space">
					<strong>RMA Turnaround Time:</strong>
					<div>When your item is received by the Q-See RMA facility, your replacement product will be shipped back to you within two business days.</div>
					<br class="space">
					<strong>Q-See Physical Damage Statement:</strong>
					<div>
						<p>Products returned to Q-See must be free from any physical damage that would void the warranty. Product(s) will be shipped back if the condition matches the description below.</p>
					</div>
					<br class="space">
					<strong>Voided warranty includes—but is not limited to—the following:</strong>
					<ul>
						<li>Cables or wires that appear to be cut, disconnected, spliced or tampered with in any fashion beyond factory specifications</li>
						<li>Damages from products being dropped, hit, mishandled, and/or poorly packaged in the process of an RMA</li>
						<li>Cracked or physically damaged LCD screens and/or cosmetic alterations such as paint, tape, cement, stucco, Bondo, sealant, caulking, or any other type of alteration to the physical product</li>
					</ul>
					<div class="text-center">
						<div class="col-lg-4 col-md-4 hidden-sm hidden-xs"></div>
						<div class="rma_form col-lg-4 col-md-4 col-sm-12 col-xs-12">
				            <br>
							<a class="fading-In large-button text-uppercase" ui-sref="rma_form">I Agree</a>
							<br><br>
						</div>
						<div class="col-lg-4 col-md-4 hidden-sm hidden-xs"></div>	
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>
<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>