<br class="hidden-sm hidden-xs"><br class="hidden-sm hidden-xs">
<div class="container fading-In" ng-if="contact_info!= undefined">
	<div class="hidden-sm hidden-xs" ng-class="{'col-lg-1 col-md-1' : contact_info.rma_incidents.length > 0, 'col-lg-4 col-md-4' : contact_info.rma_incidents.length == 0}"></div>
	<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 card" ng-if="contact_info.rma_incidents.length > 0">
		<div class="card-header text-center text-uppercase">
		RMA Incidents
		</div>
		<div class="card-body">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-margin text-center">
				<br>
				<table class="table table-striped table-responsive lead table-with-more-margin-bottom">
					<thead>
						<tr>
						    <th class="text-center">Reference #</th> 
						    <th class="text-center">Status</th>
				  		</tr>
					</thead>
					<tbody>
						<tr ng-repeat="rmaIncident in contact_info.rma_incidents | limitTo: 4">
					  		<td><a ui-sref="incident_show({i_id: rmaIncident['Incident ID'] })"> 
					  		{{rmaIncident['Reference #']}}</a></td>
					  		<td><a ui-sref="incident_show({i_id: rmaIncident['Incident ID'] })">
					  		{{rmaIncident['RMA Status']}}</a></td>
						</tr>
					</tbody>
				</table>
			    <a ng-if="contact_info.rma_incidents.length > 4" class=" text-center text-uppercase large-button" ui-sref="rma_list">See all RMA Incidents</a>
			</div>
		</div>
	</div>
	<div class="col-sm-12 col-xs-12 card" ng-class="{'col-lg-5 col-md-5': contact_info.rma_incidents.length > 0, 'col-lg-4 col-md-4' :contact_info.rma_incidents.length == 0 }">
		<div class="card-header text-center text-uppercase">
			Important Links for RMA's
		</div>
		<div class="card-body rma-card less-margin extra-bottom">
			<a ui-sref="rma_form_1" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 link-button rma-link-button deep-blue">
				<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-center">
		            <i class="fa rma-icons fa-wrench fa-5x"></i>
	          	</div>
	          	<div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">
				  	<span class="text-uppercase large-text vert-center">Request an RMA</span>
	          	</div>
			</a>
          	<a ui-sref="warranty" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 link-button rma-link-button">
	        	<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 text-center">
	            	<i class="fa rma-icons fa-shield fa-5x"></i>
	        	</div>
	        	<div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">
	        		<span class="text-uppercase large-text vert-center">Warranty Details</span>
	        	</div>
	        </a>
		</div>
	</div>
    <div class="hidden-sm hidden-xs" ng-class="{'col-lg-1 col-md-1' : contact_info.rma_incidents.length > 0, 'col-lg-4 col-md-4' : contact_info.rma_incidents.length == 0}"></div>
</div>
<div class="container fadeInRight" ng-if="contact_info== undefined">
	<div class="col-lg-4 col-md-4 hidden-sm hidden-xs"></div>
	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 less-margin">
		<login-form></login-form>
	</div>
	<div class="col-lg-4 col-md-4 hidden-sm hidden-xs"></div>
</div>