<br class="hidden-sm hidden-xs">
<div class="container fading-In" ng-if="contact_info!= undefined">
	<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
	<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 less-margin">
		<br>
        <div class="text-uppercase text-center card-header">RMA Incident List</div>
        <div class="card-body">
			<br><br>
			<table class="table text-center table-striped table-responsive lead table-with-less-margin-bottom">
				<thead>
					<tr>
					    <th class="text-center">Reference #</th> 
					    <th class="text-center">Status</th>
			  		</tr>
				</thead>
				<tbody>
					<tr ng-repeat="rmaIncident in contact_info.rma_incidents | orderBy:-'\u0022Incident ID\u0022'">
				  		<td><a ui-sref="incident_show({i_id: rmaIncident['Incident ID'] })"> 
				  		{{rmaIncident['Reference #']}}</a></td>
				  		<td><a ui-sref="incident_show({i_id: rmaIncident['Incident ID'] })">
				  		{{rmaIncident['RMA Status']}}</a></td>
					</tr>
				</tbody>
			</table>
			<br>
	        <div class="text-center ">
	        	<a ng-if="rmaListButton('account_overview.rmas')" class="text-uppercase large-button" ui-sref="account_overview.rmas">Back to Account</a>
        		<a ng-if="rmaListButton('rma_home')" class="text-uppercase large-button" ui-sref="rma_home">Returns Home</a>
        		<a ng-if="rmaListButton('blank')" class="text-uppercase large-button" ui-sref="rma_home">Returns Home</a>
	        </div>
        	<br><br>
        </div>  
	</div>
	<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>  
</div>
<div class="container fadeInRight" ng-if="contact_info== undefined">
	<div class="col-lg-4 col-md-4 hidden-sm hidden-xs"></div>
	<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
		<login-form></login-form>
	</div>
	<div class="col-lg-4 col-md-4 hidden-sm hidden-xs"></div>
</div>
