<div class="container-fluid search-index">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 search-input-holder less-margin">
    <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 less-margin">
      <span ng-if="detectState('search')">
        <br><br><br>
      </span>
      <div ng-class="{fadeInUp: moveMeIfICameFromHome(), searchBarDown: moveMeBack()}">
        <div>
          <input class="search-input" id="qsee-search-input" search-input-focus-check ng-model="query" onclick="smoothScroll('qsee-search-input')" placeholder="Search for products, manuals, software, apps..." ng-keyup="fixLinks() || $event.keyCode === 13 && answerSearch(query,true)">
          <a class="large-button text-uppercase search-button" ng-click="answerSearch(query,true)">
            <span class="hidden-xs">search</span>
            <span class="hidden-lg hidden-md hidden-sm"><i class="fa fa-search" aria-hidden="true"></i></span>
          </a>
          <div class="fading-In container-fluid text-center" ng-if="searching!=undefined">searching <i ng-if="searching!=undefined" class="fa fa-spinner fa-spin"></i></div>
          <div class="fading-In recommended-search" ng-show="query.length > 1 && searching == undefined && filteredAnswers.length > 0 && searchInputFocused == true">
            <label class="white-text" ng-if="filteredAnswers.length > 0">Answers ({{filteredAnswers.length}} Matches)</label>
            <a recommended="true" class="clearfix white-text fading-In" ng-repeat="answer in filteredAnswers = ( answers | keywordSearch:['answer_id','Summary']:query | unique:'Summary')| limitTo:5" ui-sref="answer({a_id: answer.answer_id})">{{answer.Summary}}</a>  
            <br ng-if="filteredProducts.length > 0">
            <label class="white-text" ng-if="filteredProducts.length > 0">Products ({{filteredProducts.length}} Matches)</label>
            <a recommended="true" class="clearfix white-text fading-In" ng-repeat="product in filteredProducts = ( flatProducts | keywordSearch:['name']:query )| limitTo:5" ui-sref="product({product: product.name})">{{product.name}}</a>  
          </div>  
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 hidden-sm hidden-xs"></div>
  </div>
  <div ng-if="detectState('search')" class="answer-search-results less-margin" ng-class="{fadeInUp: moveMeIfICameFromHome(), searchBarDown: moveMeBack(),'fading-In': !detectLastState('search')}">
      <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
      <div ng-if="queriedAnswers.length == 0 && queriedProducts.length == 0" class="card col-lg-10 col-md-10 col-sm-12 col-xs-12 fading-In">
          <div class="card-header text-uppercase text-center">No Results</div>
          <div class="card-body search-card container-fluid lead">
            <div style="margin-top:5%">
              No results found.<br><br>
              Suggestions:<br><br>
              <ul class="move-this-list">
                  <li>Make sure all words are spelled correctly</li>
                  <li>Use different words that mean the same thing</li>
                  <li>If you are searching for a product, type the first two letters of the model number and click "SEARCH". The model you are looking for should be in the results below</li>
              </ul>
            </div>
          </div>
      </div>  
      <div id="ans_page" class="card" ng-class="{'col-lg-5 col-md-5 col-sm-12 col-xs-12': queriedProducts.length > 0,'col-lg-10 col-md-10 col-sm-12 col-xs-12': queriedProducts.length == 0}" ng-show="queriedAnswers.length > 0">
          <br>
          <div class="card-header text-uppercase text-center">Answers</div>
          <div class="card-body search-card container-fluid" >
            <div id="fade_for_ans_page">
              <br>
              <div class="answer_list fading-In" ng-repeat="answer in queriedAnswers| startFrom:ans_page*6 | limitTo: queriedProducts.length > 0 ? 6 : 10">
                <a class="pointer fine-looking-text" ui-sref="answer({a_id: answer['Answer ID']})">{{::answer.Summary}}</a><br>
                <p style="color: #777777;font-size: 0.8em;">Date Updated: {{::answer['Date Updated']}}</p>
              </div>
            </div>
            <div style="width:100%;background-color:white">
              <br><br><br><br>
              <a ng-if="ans_page!==0" class="search-previous-results pointer" ng-click="decrementPage('ans_page')">previous</a>
              <a ng-if="queriedAnswers.length>6 && ans_page < ((queriedAnswers.length/6)-1)" class="search-more-results pointer" ng-click="incrementPage('ans_page')">more</a>
            </div>
          </div>
        <br>
      </div>
      <div id="prod_page" class="card" id="search-products-card" ng-class="{'col-lg-5 col-md-5 col-sm-12 col-xs-12': queriedAnswers.length > 0,'col-lg-10 col-md-10 col-sm-12 col-xs-12': queriedAnswers.length == 0}" ng-show="queriedAnswers!= undefined && queriedProducts.length > 0">
          <br>
          <div class="card-header text-uppercase text-center">Products</div>
          <div class="card-body search-card container-fluid less-margin">
            <br>
            <div class="products-holder">
              <div class="text-center pointer product-container fading-In" ng-repeat="product in queriedProducts| startFrom:prod_page*9 | limitTo:9" ui-sref="product({product: product['name']})">
              <div class="square-box" >
                <div class="square-content">
                  <div id="fade_for_prod_page">
                    <a ui-sref="product({product: product['name']})" class="pointer fine-looking-text">
                      <!-- <span class="helper"></span> -->
                      <img style="margin:10px auto" fallback-src class="img-responsive" ng-class="{'product-img':filteredAnswers.length != 3296}" ng-src="//q-see.s3.amazonaws.com/content/support/prodImage/{{::product['name']}}.jpg">
                      <small class="text-center">
                        <small class="product-label">{{::product['name']}}</small><br>
                        <small class="series-flag flag-{{product.technology.toLowerCase().replace(' ','-')}}">{{::product.technology}}</small>
                      </small>
                    </a>
                  </div>
                </div>
              </div>  
            </div>
            </div>
            <div style="width:100%;background-color:white">
              <br><br><br><br>
              <a ng-if="prod_page!==0" class="search-previous-results pointer" ng-click="decrementPage('prod_page')">previous</a>
              <a ng-if="queriedProducts.length>9 && prod_page < ((queriedProducts.length/9)-1)" class="search-more-results pointer" ng-click="incrementPage('prod_page')">more</a>
            </div>
          </div>
      </div>
      <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
  </div>
  <br><br><br><br>
  <div ng-if="detectState('home')" class="card-holder">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 card less-margin">
      <div class="container-fluid card-header text-center text-uppercase">
        Important Links
      </div>
      <div class="card-body important-links less-margin">
        <a ui-sref="product_registration" class="col-lg-12 col-md-12 col-sm-12 col-xs-6 link-button">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
            <i class="fa search-index-icon fa-clipboard fa-5x"></i>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-6">
            <span class="text-uppercase large-text vert-center text-center" style="padding-left:1px" >Register Products</span>
          </div>
        </a>
        <a ui-sref="ask_a_question" class="col-lg-12 col-md-12 col-sm-12 col-xs-6 link-button cloud-color">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
            <i class="fa search-index-icon fa-question-circle fa-5x"></i>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-6">
            <span class="text-uppercase large-text vert-center slightly-lower">Ask a Question</span>
          </div>
        </a>
        <a ui-sref="ask_a_question({contact_method:'chat'})"class="col-lg-12 col-md-12 col-sm-12 col-xs-6 link-button cloud-tiny">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
            <i class="fa search-index-icon fa-comment fa-5x"></i>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-6">
            <span class="text-uppercase large-text vert-center slightly-lower chat-support">Chat Support</span>
          </div>
        </a>
        <a ui-sref="warranty" class="col-lg-12 col-md-12 col-sm-12 col-xs-6 link-button cloud-color white-tiny">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
            <i class="fa search-index-icon fa-shield fa-5x"></i>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-6">
            <span class="text-uppercase large-text vert-center text-center">Warranty Details</span>
          </div>
        </a>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 card less-margin">
      <div class="container-fluid card-header text-center text-uppercase">
        Search by Category
      </div>
      <div class="card-body main-category-selection">
        <a ui-sref="rma_home" class="col-lg-6 col-md-6 col-sm-6 col-xs-4 text-uppercase card-button text-center cloud-tiny">
          <p><i class="fa search-index-icon fa-wrench fa-5x"></i></p>
          <span class="large-text">Repairs</span>
        </a>
        <a class="col-lg-6 col-md-6 col-sm-6 col-xs-4 text-uppercase card-button text-center cloud-color white-tiny" ui-sref='answers({category:"How-tos"})'>
          <p><i class="fa search-index-icon fa-pencil fa-5x"></i></p>
          <span class="large-text" style="white-space:nowrap">How-to's</span>
        </a>
        <a class="col-lg-6 col-md-6 col-sm-6 col-xs-4 text-uppercase card-button text-center cloud-color cloud-tiny" ui-sref="answers({category: 'Manuals and Guides'})">
          <p><i class="fa search-index-icon fa-book fa-5x"></i></p>
          <span class="large-text">Manuals</span>
        </a>
        <a class="col-lg-6 col-md-6 col-sm-6 col-xs-4 text-uppercase card-button text-center" ui-sref="answers({category: 'Firmware'})">  
          <p><i class="fa search-index-icon fa-cogs fa-5x"></i></p>
          <span class="large-text">Firmware</span>
        </a>
        <a class="col-lg-6 col-md-6 col-sm-6 col-xs-4 text-uppercase card-button text-center cloud-tiny" ui-sref="answers({category: 'Software'})">
          <p><i class="fa search-index-icon fa-cloud-download fa-5x"></i></p>
          <span class="large-text">Software</span>
        </a>
        <a class="col-lg-6 col-md-6 col-sm-6 col-xs-4 text-uppercase card-button text-center cloud-color white-tiny" ui-sref="answers({category: 'Videos'})">
          <p><i class="fa search-index-icon fa-video-camera fa-5x"></i></p>
          <span class="large-text">Videos</span>
        </a>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 card less-margin">
      <div class="container-fluid card-header text-center text-uppercase">
        Search by Product
      </div>
      <div class="card-body main-product-selection extra-bottom">
          <a ui-sref="products({key: 'Recorders'})" class="col-lg-12 col-md-12 col-sm-12 col-xs-4 link-button-thirds cloud-color">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <img class="img-responsive" src="//q-see.s3.amazonaws.com/content/files/RightNow/DVR_NVR.png">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <span class="text-uppercase large-text vert-center-thirds">Recorders</span>
          </div>
        </a>
        <a ui-sref="products({key: 'Cameras'})" class="col-lg-12 col-md-12 col-sm-12 col-xs-4 link-button-thirds">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <img class="img-responsive" src="//q-see.s3.amazonaws.com/content/files/RightNow/Camera.png">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <span class="text-uppercase large-text vert-center-thirds">Cameras</span>
          </div>
        </a>
        <a ui-sref="products({key: 'Accessories'})" class="col-lg-12 col-md-12 col-sm-12 col-xs-4 link-button-thirds cloud-color">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <img class="img-responsive" src="//q-see.s3.amazonaws.com/content/files/RightNow/Accessories.png">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <span class="text-uppercase large-text vert-center-thirds">Accessories</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>