<br><br>
<div ng-if="detectState('support_notifications')" class="container less-margin fading-In">
	<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
	<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
		<div class="card-header text-uppercase text-center">Support Notifications</div>
		<div class="card-body col-lg-12 col-md-12 col-sm-12 col-xs-12 no-margin">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-right text-center">
				<p style="margin-top:15%" class="lead">This section of the support portal is for informing you of any new updates regarding any service outages, new app updates, and any change in the support hours.</p>
				<div style="width:100%;background-color:white">
	              <br><br><br><br>
	              <a ng-if="support_note_page!==0" class="search-previous-results pointer" ng-click="decrementPage('support_note_page')">newer</a>
	              <a ng-if="posts.length>3 && support_note_page < ((posts.length/3)-1)" class="search-more-results pointer" ng-click="incrementPage('support_note_page')">older</a>
	            </div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-left no-margin" id="support_note_page">
				<div ui-sref="support_notification({id: post.id})" style="padding:{{posts.length==1?'187px 2px!important':posts.length ==2?'85px 2px!important':'45px 2px!important'}}" class="text-center pointer col-lg-12 col-md-12 col-sm-12 col-xs-12 support-posts fading-In" ng-class="{'odd-notes':$index%2==1,'even-notes':$index%2==0}" ng-repeat="post in posts |reverse|orderObjectBy:'date_created'| startFrom:support_note_page*3|limitTo:3" >  
					<div>  
						<i ng-if="post.type_of_notice=='Normal Update'" class="fa fa-5x fa-sticky-note-o" aria-hidden="true"></i>
						<i ng-if="post.type_of_notice=='Service Down'" class="fa fa-5x fa-exclamation-triangle" aria-hidden="true"></i>
						<i ng-if="post.type_of_notice=='Holiday'" class="fa fa-5x fa-calendar" aria-hidden="true"></i>
					</div>
					<div class="container-fluid">
						<a class="large-text text-uppercase" ui-sref="support_notification({id: post.id})">{{post.title}}</a><br>
						<h6>Created: {{post.created_time | dateTime}}<span ng-if="post.updated">  |  <i>Updated: {{post.updated | dateTime}}</i></span></h6>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
</div>
<div ng-if="detectState('support_notification')" class="container less-margin fading-In">
	<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
	<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
		<div class="card-header text-uppercase text-center">{{post.title}}</div>
		<div class="card-body col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<br><br>
			<div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 lead text-center" dynamic="post.content">
			</div>
		</div>
	</div>
	<div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
</div>