<!DOCTYPE html>
<html ng-app="qsee" ng-controller="search">  
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#ffc217">
	<meta name="msapplication-navbutton-color" content="#ffc217">
	<meta name="apple-mobile-web-app-status-bar-style" content="#ffc217">
  <title>Q-See KnowledgeBase</title>
  <link href='//fonts.googleapis.com/css?family=Roboto:400,700,300,500|Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css ">
  <%# if Rails.env=='development'%>
  	<link rel="stylesheet" href="/euf/assets/themes/qsee/bootstrap4.css"></link>
	<%# else %>
		<!---<script src="/euf/assets/themes/qsee/qsee.min.css"></script> -->
  <%# end %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="rn_Body" class="clearfix">
    <br><br>
    <div class="container hide-padding-when-small">
      <div class="header container-fluid">
          <span class="pull-left hidden-when-mobile">
              <a href="//www.q-see.com" class="top-links text-uppercase white-text large-text" target="_blank">Q-See.com</a>
              <span class="reallySlowFadeIn" ng-if="!detectState('home')" ng-cloak>
                  <span class="top-links text-uppercase white-text large-text"> | </span>
                  <a ui-sref="home" class="top-links text-uppercase white-text large-text">Support Portal Home</a>
              </span>
          </span>
          <span class="hidden-not-mobile">
              <a href="//www.q-see.com" class="col-xs-3 text-uppercase text-center" target="_blank">
                  <i class="fa fa-shopping-bag a-little-margin-on-top fa-2x" aria-hidden="true"></i><br>
                  <span style="white-space: nowrap">Q-See.com</span>
              </a>
              <a ui-sref="home" class="col-xs-3 text-uppercase text-center" ng-class="{'active-state-link':detectState('home')==true}">
                  <i class="fa a-little-margin-on-top fa-home fa-2x" aria-hidden="true"></i><br>
                  <span>Home</span>
              </a>
          </span>
          <% if @current_user==nil %>
              <a ng-if="hideOnLoginPage()" ui-sref="login_page" class="pull-right hidden-when-mobile top-links text-uppercase white-text large-text">Login/Register</a>
              <a class="hidden-not-mobile col-xs-3 text-uppercase text-center" ng-class="{'active-state-link':detectState('login_page')==true}" ui-sref="login_page">
                  <i class="fa a-little-margin-on-top fa-sign-in fa-2x" aria-hidden="true"></i><br>
                  <span>Login</span>
              </a>
              <a class="hidden-not-mobile col-xs-3 text-uppercase text-center" ng-class="{'active-state-link':detectState('account_creation')==true}" ui-sref="account_creation">
                  <i class="fa a-little-margin-on-top fa-user-plus fa-2x" aria-hidden="true"></i><br>
                  <span>Register</span>
              </a>
          <% else %>
              <span class="hidden-when-mobile">
                  <a class="top-links text-uppercase white-text large-text pull-right pointer" ng-click="logInHandler(true,'out')">Logout</a>
                  <span ng-if="!onAccountPage()" class="top-links text-uppercase white-text large-text pull-right">&nbsp;|&nbsp;</span>
                  <a ng-if="!onAccountPage()" class="top-links text-uppercase white-text large-text pull-right" ui-sref="account_overview"><rn:field name="contacts.login"/></a>
              </span>
              <span class="hidden-not-mobile">
                  <a class="col-xs-3 text-uppercase text-center" ng-class="{'active-state-link':onAccountPage()==true}" ui-sref="account_overview">
                      <i class="fa a-little-margin-on-top fa-user fa-2x" aria-hidden="true"></i><br>
                      <span>Account</span>
                  </a>
                  <a class="col-xs-3 text-uppercase text-center" ng-click="logInHandler(true,'out')">
                      <i class="fa a-little-margin-on-top fa-sign-out fa-2x" aria-hidden="true"></i><br>
                      <span>Logout</span>
                  </a>
              </span>
          <% end %>
      </div>
      <div style="z-index: 10000000000000000000000;position: relative;" ng-if="detectState('home')" class="welcome-banner text-center fadeInDown" ng-cloak>
          <br><br><br><br>
          <p class="white-text large-text text-uppercase"><strong>Welcome to the</strong></p>
          <p class="white-text large-text logo-font">
              <img src="//q-see.s3.amazonaws.com/content/support/images/qsee_support_portal.png" class="img-responsive">
          </p>
          <br><br>
      </div>
      <div class="support-site-links">
          <div ui-sref="remote_rescue" class="pointer remote-rescue hidden-sm hidden-xs text-center text-uppercase" ng-class="{'underlined-with-yellow':detectState('remote_rescue')==true}">
              <div>
                  <br>
                  <i class="fa fa-life-ring fa-3x" aria-hidden="true"></i>
                  <br>
                  <a ui-sref="remote_rescue" style="font-size:1em;font-weight:600">Remote Rescue</a>
              </div>
          </div>
          <div ui-sref="support_notifications" class="pointer support-news hidden-sm hidden-xs text-center text-uppercase" ng-class="{'underlined-with-yellow':detectState('support_notifications')==true,'red-bg':caughtUp ==false}">
              <div class="white-text">
                  <br>
                  <i ng-if="caughtUp==true" class="fa fa-newspaper-o fa-3x" aria-hidden="true"></i>
                  <i ng-if="caughtUp==false" wait-to-load class="hidden fa fa-exclamation fa-3x fading-In" aria-hidden="true"></i>  
                  <br>
                  <a ng-if="caughtUp==true" ui-sref="support_notifications" style="font-size:1em;font-weight:600;color:white">Support News</a>
                  <a ng-if="caughtUp==false" wait-to-load class="hidden fading-In" ui-sref="support_notifications" style="font-size:1em;font-weight:600;color:white">Click for Important News</a>
                  <br>
              </div>
          </div>
      </div>
      <div id="rn_MainColumn" role="main">
      <!-- This is where the content goes -->
          <%= yield %>
      </div> 
    </div>
    <div ng-init='contact_info = undefined' class="copyright white-text large-text fading-In hidden-xs">&copy; 2011-2016 Digital Peripheral Solutions</div>
  </div>
</body>
<% if Rails.env=='development'%>
  <script src="/euf/assets/themes/qsee/angular.min.js"></script>
  <script src="/euf/assets/themes/qsee/angular-ui-router.min.js"></script>
  <script src="/euf/assets/themes/qsee/angular-datepicker.js"></script>
  <script src="/euf/assets/themes/qsee/ng-file-upload-all.min.js"></script>  
  <script src="/euf/assets/themes/qsee/scroll.js"></script>
  <script src="//cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
  <script src="//cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
  <script src="/euf/assets/themes/qsee/angulartics.min.js"></script>
  <script src="/euf/assets/themes/qsee/angulartics-kissmetrics.min.js"></script>
  <script src="/euf/assets/themes/qsee/angulartics-ga.min.js"></script>
  <script src="/euf/assets/themes/qsee/qsee2.js"></script>
  <script src="/euf/assets/themes/qsee/answer.js"></script>
  <script src="/euf/assets/themes/qsee/ajaxDetection.js"></script>  
<% else %>
	<script src="/euf/assets/themes/qsee/qsee.min.js"></script>
<% end %>
</html>
